<!DOCTYPE html>
{% load static %}

<html lang="en-US">
{% include 'includes/head.html'%}

<body>
{% include 'includes/navbar.html' %}

      <!------- body Section start------------->
      <main>

<!-- page-title -->
<div class="page-title" style="background-image: url('/static/themes/new/img/ff.jpg');">
	<div class="container-fluid main-container">
		<div class="row">
			<div class="col-xl-9 col-lg-12">
				<div class="page-heading">
					<h1 class="title">WE ARE RESULT-DRIVEN, FOCUSING ON <span class="text-green">DELIVERING </span>RESULTS </h1>
					<p>Creating innovative solutions to enable businesses to serve their customers better.
						We always keep our services up-to-date with the latest trends in the market. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- page-title end-->
<!-- about-section -->
<div class="py-90">
	<div class="container-fluid main-container">
		<div class="row justify-content-between">
			<div class="col-lg-12 col-xl-8">
				<h5 class="heading-xs dash">Who We Are</h5>
					<h2 class="text-titile text-uppercase">
						We Grow Your Business With Our <span class="text-green">Innovative Solutions</span>
					</h2>
                <p style="text-align:justify;">ApEED Technologies - An ISO 27001 and ISO 9001:2015 certified global
					software services company focuses on Mobile and Web Application Development.
					ApEED Technologies was found in the year 2018 and is located in New Delhi, Delhi.
					ApEED Technologies is an Android, iOS, and Web Framework Development company working
					for happy clients over the last 1 Years. Our expertise and commitment to deliver
					complex strategic IT projects make us a trusted service provider to 100+ customers
					across the globe. We have a team size of more than 20 employees. It is a matter
					of great pride to us that many of these relationships have continued with us
					since the beginning.</p>

<p style="text-align:justify;">Our up-to-date and dynamic web development services are ideal for small to medium
	scale businesses. We are one of the leading website designing Companies that engage your
	business amongst the leaders. We work hard to ensure that the clients are happy and fully-satisfied
	with timely delivery and high-quality work. ApEED Technologies offers the best web development
	and web designing services at affordable prices. We also offer a complete set of website design
	and website development such as internet marketing, flash website design, corporate website,
	web hosting, and search engine optimization.</p>
               <p class="about-text">
                                 </p>

			</div>
			<!-- .col -->
			<div class="col-lg-7 col-xl-4">
				<div class="company-profile position-relative mt-4">
					<img src="/static/themes/new/img/company-1.jpeg"
						alt="Company Profile" class="img-fluid">
						 <a	href="/static/pdf/company_profile.pdf" target="_blank"><div class="bottom-left">OUR
							COMPANY PROFILE</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about-section end -->

<div class="about-service pt-5 box2">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-11 col-md-11 text-center">
				<div class="mb-5">
					<h5 class="heading-xs dash text-white">Why People Choose Us</h5>
					<h2 class="text-uppercase text-titile text-white">WE COMMIT TO <span class="text-green"> WORLD CLASS SERVICES </span>THAT SET GREAT BUSINESS STANDARDS
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid main-container">
		<div class="row text-white">
			<div class="col-lg-4 col-md-6 mb-5 text-center">
				<div class="icon-bx-wraper">
					<div class="icon-lg text-white">
						<img src="/static/themes/new/img/mission.png"
							class="img-fluid" alt="choses-info">
					</div>
					<div class="icon-content mt-3">
						<h5 class="text-uppercase">Our Mission</h5>
						<p><p style="text-align:center;">To invest in the ideas that will make businesses all over
						the world ready for the future, by incorporating the latest technologies. </p>

<p> </p>
</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-5 text-center">
				<div class="icon-bx-wraper">
					<div class="icon-lg text-white">
						<img src="/static/themes/new/img/vision.png"
							class="img-fluid" alt="choses-info">
					</div>
					<div class="icon-content mt-3">
						<h5 class="dlab-tilte text-uppercase">Our Vision</h5>
						<p><p style="text-align:center;">To be recognized for offering world-class services with quality. Connecting technology, creative and businesses to drive business and growth. </p>
 </p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 mb-5 text-center">
				<div class="icon-bx-wraper">
					<div class="icon-lg text-white">
						<img src="/static/themes/new/img/stretegy.png"
							class="img-fluid" alt="choses-info">
					</div>
					<div class="icon-content mt-3">
						<h5 class="text-uppercase">Our Strategy</h5>
						<p><p>We have been awarded and recognized for our excellent and exceptional work. That is why we only believe in delivering the highest value possible to our clients. </p>
 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row align-items-center bdr-rt">
			<div
				class="col-md-3 col-lg-3 col-xl-3  col-sm-3 text-center border-sm-right border-right-0">
				<div class="feature-alt">
					 <h3 class="mb-0">
          					 1 <span class="text-green">+</span>
         			 </h3>
					<p class="text-center mb-0">YEARS IN BUSINESS</p>
				</div>
			</div>
			<!-- .col -->
			<div
				class="col-md-3 col-lg-3 col-xl-3 col-sm-3 text-center border-sm-right border-right-0">
				<div class="feature-alt">
					<h3 class="mb-0">
						100 <span class="text-green">+</span>
					</h3>
					<p class="text-center mb-0">PROJECTS DELIVERED</p>
				</div>
			</div>

			<!-- .col -->
			<div
				class="col-md-3 col-lg-3 col-xl-3 col-sm-3 text-center  border-sm-right border-right-0">
				<div class="feature-alt">
					<h3 class="mb-0">
						50 <span class="text-green">+</span>
					</h3>
					<p class="text-center mb-0">CLIENTS WORLDWIDE</p>
				</div>
			</div>
			<!-- .col -->
			<!-- .col -->
			<div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 text-center ">
				<div class="feature-alt">
					<h3 class="mb-0">
						20 <span class="text-green">+</span>
					</h3>
					<p class="text-center mb-0">EMPLOYEES</p>
				</div>
			</div>
			<!-- .col -->

		</div>
	</div>

</div>


<!---- our leadership section start--------->
<section class="py-90 bg-blue">
	<div class="container-fluid main-container">
		<div class="row">
			<div class="col-lg-5">
				<div class="section-title">
					<h5 class="heading-xs dash">Meet the team</h5>
					<h2 class="text-titile text-uppercase">
						A TEAM OF <span class="text-green">HIGHLY PASSIONATE </span>PIONEERS THAT ONLY RESOLVE UNDER COMPLETING PROJECTS
					</h2>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="section-title">
					<p class="mb-0">ApEED Technologies has been a leading IT firm in India and also globally with its stand out
						a reputation in delivering timely projects. We work progressively as a team
						to attain positive results while keeping to the modern standards in IT practices.
						Our core competency has been living out to the brand’s ideas and
						helping them reach great heights.</p>
				</div>
			</div>
		</div>

		<div class="row mt-5 justify-content-center">
                  <div class="col-lg-10 col-md-12 col-xl-6 mb-xl-0 mb-4">
				<div class="bg-white box-shadow h-100">
					<div class="row">
						<div class="col-md-4">
							<div class="member-thumbnail">
                                                <img class="center-block img-fluid" src="/static/user/download/rajat.png" alt="Image">                                             </div>
						</div>
						<div class="col-md-8">
							<div class="team-info">
								<h4 class="mt-0">RAJAT KUMAR SAINI</h4>
								<em class="clr-blue">CEO & Founder</em>
								<p><p>Rajat Kumar Saini is the CEO of ApEED Technologies Pvt Ltd. He is an<strong> </strong>BCA, MCA and has more than 2+ years of experience in Machine Learning & Artificial Intelligence.</p></p>
								<ul class="list-unstyled mt-3">
									<li class="d-inline-block mr-3"><a
										href="//twitter.com/rajatsainisim" target="_blank"><i
											class="fa fa-twitter"></i></a></li>
									<li class="d-inline-block"><a href="//www.linkedin.com/in/rajatsainisim/"
										target="_blank"><i class="fa fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
                  <div class="col-lg-10 col-md-12 col-xl-6 mb-xl-0 mb-4">
				<div class="bg-white box-shadow h-100">
					<div class="row">
						<div class="col-md-4">
							<div class="member-thumbnail">
                                                <img class="center-block img-fluid" src="/static/user/download/piyush.png" alt="Image">                                             </div>
						</div>
						<div class="col-md-8">
							<div class="team-info">
								<h4 class="mt-0">PIYUSH KUMAR</h4>
								<em class="clr-blue">CTO & Founder</em>
								<p><p><span style="color:#3c3b3b">Piyus Kumar jointly founded ApEED Technologies Pvt Ltd. She manages multiple roles. She plays all her roles actively and is always available to take every step for the growth of the company.</span></p></p>
								<ul class="list-unstyled mt-3">
									<li class="d-inline-block mr-3"><a
										href="//twitter.com/msharma170586" target="_blank"><i
											class="fa fa-twitter"></i></a></li>
									<li class="d-inline-block"><a href="//www.linkedin.com/in/monika-sharma-b5a97418/"
										target="_blank"><i class="fa fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
               </div>
	</div>
</section>
<!---- our leadership section end--------->


<section class="why-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="why-content pt-5 pb-5" data-match-height="groupName">
					<h5 class="heading-xs dash text-white">Why ApEED</h5>
					<h2 class="text-titile text-white mb-4">
							GET CUSTOMIZED SOLUTIONS WITH THE <span
							class="text-green">LATEST TECHNOLOGY</span>
					</h2>
					<p><ul>
	<li>We offer innovative solutions as per your business requirements, to deliver a stand out project. </li>
	<li>Our team will give you scalable technology solutions, services with appropriate security measures.</li>
	<li>ApEED's tested and proven expertise will help your business in completing your current project faster.</li>
	<li>We offer your business innovative and state-of-the-art solutions that are easy to adapt to changing customer behavior and demand. </li>
	<li>With more than 8 years of experience, we have gained trust and expertise in Android, iOS, and Web Framework Development. </li>
	<li>Our resolution to adopt the latest technological practices make us stand out in meeting client demands.</li>
	<li>Sincerity, discipline, and prowess in all our project undertakings.</li>
</ul>

<p> </p>
</p>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12 px-0 why-column">
				<div class="position-relative height-set" data-match-height="groupName">
					<img src="/themes/new/img/toxsl.jpg"
						alt="why_apeed" class="img-fluid">
					<div class="ttm-video-btn center-video-btn">
						<a class="ttm-play-btn" data-toggle="modal"
							data-target="#video-Modal"> <span class="ttm-video-btn-play"><i
								class="fa fa-play"></i></span>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!--- client about--->


<section class="py-90 partner-section">
	<div class="container-fluid main-container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h5 class="heading-xs dash">Our Certifications</h5>
				<h2 class="text-titile">
						DON’T JUST TRUST <span
						class="text-green">OUR WORDS,</span> SEE WHAT OUR PARTNERS HAVE TO SAY
				</h2>
			</div>
		</div>
		<div class="row align-items-center justify-content-center mt-5">
			<div class="col-md-10 text-center">
				<div class="row">
					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/iso-9001.png" alt="ISO"
								class="img-fluid" />
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5 mt-lg-0">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/iso-27001.png" alt="ISO"
								class="img-fluid" />
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/cii-1.png" alt="ISO"
								class="img-fluid" />
						</div>
					</div>


					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/nasscomMember.png"
								alt="ISO" class="img-fluid" />
						</div>
					</div>
					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img
								src="/themes/new/img/certification-logo/Yii-logo-transparent.png"
								alt="ISO" class="img-fluid" />
						</div>
					</div>
					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/iosDeveloper1.png"
								alt="ISO" class="img-fluid" />
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

<!--- client about--->
<!-- The Modal -->
<div class="modal" id="video-Modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<iframe width="100%" height="400"
					src="https://www.youtube.com/embed/Gtt0AjlBxlQ" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>



      </main>





{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}

</body>

</html>