<!DOCTYPE html>
{% load static %}

<html lang="en-US">
{% include 'includes/head.html'%}

<body>
{% include 'includes/navbar.html' %}


     <main>
         <script>
$(document).ready(function(){
     $("header").addClass("custom-header");
});
</script>
<section class="title-section">
	<div class="container-fluid main-container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h1 class="text-titile text-uppercase text-white mb-3 pb-3 position-relative">
					WE LIKE TO ASSIST YOU TO GROW YOUR BUSINESS
				</h1>
				<p class="text-white mb-0">Explore Why you should Choose ToXSL Technologies To Transform Your Business Ideas Into Reality. Have a look at what our clients say about us.
</p>
			</div>
		</div>
	</div>
</section>

<section class="pt-90 pb-70 bg-blue">
	<div class="container-fluid main-container">
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 text-center">
				<h2 class="text-titile text-uppercase mb-3">
					SEE SOME OF THE <span class="text-green">TOP REVIEWS </span> OF OUR CLIENTS AND ON WHAT WE ARE PROUD OF
				</h2>
				<p class="mb-0">This is what motivates us to keep working hard to keep delivering high value to our customers</p>
			</div>
		</div>


		<div class="row mt-5">
						<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>Hired for a complex app, met my expectations. Already plan to hire again on future projects.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Robert</h2>
								<h3>USA,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>It was a great Experience will work with the team again for sure.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Thony</h2>
								<h3>USA,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>The team at ToXSL work professionally throughout the project, they put client satisfaction first and ToXSL team priority to ensure the works delivered according to our requirement. The team even walk extra miles to make the changes needed on time. I extremely recommend Toxsl for anyone looking for a developers. I will definitely start a new project with ToXSL soon and will prioritise ToXSL for any of my future projects. I would like to personally thanks the ToXSL team for their excellent work handling my projects.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Logan</h2>
								<h3>Malaysia,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>We are really happy with the project! They delivered a great product with an affordable price in a perfect time frame.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Bruno</h2>
								<h3>Australia,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>Very smooth working experience over a 6-month period. They communicated well with me and really understood my requirements and worked on them. Importantly, they did not overpromise on features and were very transparent on their deliverables would be. Very happy with their overall work.</p>

<p> </p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">David Ratner</h2>
								<h3>Singapore,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>Great work! They are excellent communicator and work is great!</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Shawn</h2>
								<h3>Canada,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>I highly recommend ToXSL Technologies. They are a very professional and efficient and were easily able to do everything I required for a mobile application and web interface. It was also done for a fair price and they were able to complete everything in the time provided. This was done through daily contact and weekly updates on the project versions. If you are browsing companies I can definitely say that ToXSL Technologies is a 5 star company like the reviews say.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Daniel</h2>
								<h3>United States,California</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>Our project was rather complicated and difficult, but the team at ToXSL managed to handle it with great patience and care, following each step of the process and listening to my business requirements. Several issues rose while putting the changes live on my website and this is when the team showed most professionalism. They managed to resolve all issues one after another with good attention and time management. I would definitely recommend working with ToXSL Technologies.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Victoria Salem</h2>
								<h3>United Kingdom,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>We have enjoyed working with them, they have dedicated team almost 24/7 to support and help, they have delivered a project using IOS, Andorid and WEB (PHP) and all of the job were done perfectly, they are trustworthy, and they even support you after the contract finish for example they will upload the code into our servers after closing the contract. The team were all cooperative and supportive.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Ahmed</h2>
								<h3>Saudi Arabia,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>
			 			<div class="col-xl-4 col-lg-6  mb-20">

				<div class="client-slider">

					<div class="clientcontent mb-3" data-match-height="groupName">
						<img src="/themes/new/img/quote.png" class="img-fluid" alt="comment">
						<h3 class="mt-4"><p>Although the workflow goes up and down I found them very professional to carry this part of my business. Make ToXSL your technology partner.</p></h3>
					</div>
					<div class="row">
						<div class="col-md-6">
							<ul class="d-flex align-items-center">
						<li>
								<h2 class="mb-0">Hassan Jaber</h2>
								<h3>Kuwait,</h3>
							</li>
					</ul>
						</div>
						<div class="col-md-6 float-right">
						<div class="ttm-ratting-star">
						<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i>
            			<i class="fas fa-star"></i><br>
            			<span class="badge badge-success p-2 mt-2">Five stars</span>
						</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</section>
<!-- client section-->
<section class="about-services-section">
  <div class="container-fluid py-55 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h5 class="heading-xs dash text-white">OUR HAPPY CLIENTS</h5>
        <h2 class="text-titile text-uppercase text-white mb-0">
         We are <span class="text-green">result-oriented! </span>We Believe In Going The extra mile for our Clients
        </h2>
      </div>
    </div>
  </div>
  <div class="client-content">
    <div class="container-fluid">
      <ul
        class="clients-logo list-unstyled  w-100 justify-content-center d-flex flex-wrap">
        <li><img src="/themes/new/img/client-logo/yumcurst.png"
          alt="client"></li>
        <li><img src="/themes/new/img/client-logo/linebustr.png"
          alt="client"></li>
           <li><img src="/themes/new/img/client-logo/unitconverter.png"
          alt="client"></li>
          <li><img src="/themes/new/img/client-logo/packetvideo.png"
          alt="client"></li>
        <li><img src="/themes/new/img/client-logo/connectupz.png"
          alt="client"></li>
        <li><img src="/themes/new/img/client-logo/lewis.png"
          alt="client"></li>
          <li><img src="/themes/new/img/client-logo/samsung.png"
          alt="client"></li>

          <li><img src="/themes/new/img/client-logo/hdfc.png"
          alt="client"></li>
        <li><img src="/themes/new/img/client-logo/hcl.png"
          alt="client"></li>
            <li><img src="/themes/new/img/client-logo/loyup.png"
          alt="client"></li>
          <li><img src="/themes/new/img/client-logo/kayacha.png"
          alt="client"></li>
          <li><img src="/themes/new/img/client-logo/punjabpolicelogo.png"
          alt="client"></li>


        <li><a href="/portfolio" class="btn btn-green"> Explore Our Work</a></li>
      </ul>
    </div>
  </div>
</section>
<!--client section end-->
<section class="py-90 partner-section">
	<div class="container-fluid main-container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h5 class="heading-xs dash">Our Certifications</h5>
				<h2 class="text-titile">
						DON’T JUST TRUST <span
						class="text-green">OUR WORDS,</span> SEE WHAT OUR PARTNERS HAVE TO SAY
				</h2>
			</div>
		</div>
		<div class="row align-items-center justify-content-center mt-5">
			<div class="col-md-10 text-center">
				<div class="row">
					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/iso-9001.png" alt="ISO"
								class="img-fluid" />
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5 mt-lg-0">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/iso-27001.png" alt="ISO"
								class="img-fluid" />
						</div>
					</div>
					<div
						class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/cii-1.png" alt="ISO"
								class="img-fluid" />
						</div>
					</div>


					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/nasscomMember.png"
								alt="ISO" class="img-fluid" />
						</div>
					</div>
					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img
								src="/themes/new/img/certification-logo/Yii-logo-transparent.png"
								alt="ISO" class="img-fluid" />
						</div>
					</div>
					<div class="col-lg-4 col-md-6 text-center mb-5 mb-lg-0 mt-5">
						<div class="iso-img m-auto">
							<img src="/themes/new/img/certification-logo/iosDeveloper1.png"
								alt="ISO" class="img-fluid" />
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>
      </main>


{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}

</body>

</html>