<!DOCTYPE html>
{% load static %}

<html lang="en-US">
{% include 'includes/head.html'%}

<body>
{% include 'includes/navbar.html' %}

 <div class="bg-bottom">
	<div class="icon-description1">
		<p class="line_h">
		We use cookies to ensure that we give you the best experience on our website. By using this site, you agree to our use of cookies <a href="/privacy">Find out more</a>.</p>
	    <form id="cookies-actions-form" action="/life-apeed" method="post" enctype="multipart/form-data">
<input type="hidden" name="_csrf_toxsl" value="36isjB84LppQleNIIXzDL6uqhsTPixXXNdXsdU2qAm2rn53jaX53-DL31xBIGqVI2c3Pi6qzfKJ-g7wlPpxNPA=="><button type="submit" id="information-form-submit" class="btn btn-success" name="accept" value="Accept">Accept</button></form>   </div>
</div>      <!------- body Section start------------->
      <main>
         <!-- page-title -->
<div class="page-title" style="background-image: url('/static/themes/new/img/ff.jpg');">
   <div class="container-fluid main-container">
      <div class="row">
         <div class="col-lg-9 col-md-12">
            <div class="page-heading">
               <h1 class="text-titile text-uppercase text-white">Promoting a <span class="text-green">work-oriented</span> culture while Growing Every Individual</h1>
               <p>Making our employees happier and healthier by fulfilling their needs. Seeking to bring the best out of our employees by giving them exposure to the latest technologies. </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- page-title end-->
<!---life at toxsl section start---->
<section class="py-90 life-section">
   <div class="container-fluid main-container">
      <div class="row">
         <div class="col-xl-9 col-lg-12">
            <div class="section-title">
               <h2 class="text-titile text-uppercase">
                  What makes <span class="text-green">ToXSL</span> special?
               </h2>
            </div>
             <p>
               At ToXSL, we believe that there is a time for everything. There is time for work, fun and entertainment. Indeed, it is like a second home to our employees. We work efficiently so that we are always ahead of the competition. Our team is proactive and valuable in terms of participation. We manage our client and customer's queries in style, an art we have mastered and conquered over the years. We have experts in various fields under the IT domain, making it possible to deal with all sorts of customer queries. <br>
            Moreover, you can expect a team of highly skilled and creative professionals from ToXSL. Our employees have enabled us to become a trusted service provider. They provide expert guidance to modernize and evolve your organization. Our teams build software vital to your enterprise, on-time, and under budget. We have creative thinkers from many different backgrounds that collaborate to help businesses grow. The perspectives and contributions of each person in a team are essential to our success.
            </p>
            <h3 class="heading-title mb-3"> We Enjoy Doing Our Work</h3>
            <ul class="pl-0">
               <li><span class="clr-blue">Accessories:</span> We let our employees with the latest tools and accessories, in the victory to be ahead of time.</li>
               <li><span class="clr-blue">Financially rewarding: </span>We pay our employees on time and reward them based on their skill levels and performance.</li>
               <li><span class="clr-blue">Working standards: </span> We offer top-notch working standards to our employees and make sure that they are working in a comfortable atmosphere. </li>

               <li><span class="clr-blue">Employees satisfaction:</span> Our primary concern is the happiness of our employees. Period! We make sure that every employee is satisfied with the work. </li>
               <li><span class="clr-blue">Benefits like Bonus:</span> We entitle our employees with timely bonuses, thus boosting their mentality and work-spirit. </li>
               <li><span class="clr-blue">Games:</span> We don't believe in monotony. That is why we often play games to boost the mood of our employees. </li>
               <li><span class="clr-blue">Work from home:</span> In a difficult situation like COVID-19, we provide work from home opportunities to our employees.   </li>

               <li><span class="clr-blue">Exposure to latest technologies: </span> Our employees are exposed to the latest technologies, giving them full access to opportunities.</li>

               <li><span class="clr-blue">Healthcare benefits:</span> We provide our employees with the best healthcare facilities available. </li>
               <li><span class="clr-blue">Honour:</span> We award and honour our employees for their fantastic performances on a timely basis.</li>
            </ul>         </div>
         <div
            class="col-xl-3 col-md-12 mt-xl-0 mt-5 text-xl-right text-center">
            <a href="/career" target="_blank"> <img src="/themes/new/img/img5.jpg"
               class="img-fluid" alt="happy clients"></a>
         </div>
      </div>
   </div>
</section>
<!---life at toxsl section end---->
<section class="py-60 success-section">
   <div class="container-fluid main-container">
      <div class="row justify-content-center">
         <div class="col-md-10 text-center">
            <div class="section-title">
               <h2 class="text-titile text-uppercase mb-4 text-white">
                  We <span class="text-green">Believe</span> in Growth
               </h2>
               <p class="mb-4 text-white">Before you join ToXSL, take a moment to learn about the life at ToXSL. Discover how we innovate, work, and play. The best part of joining ToXSl is that you will only become a better person, armed with knowledge, wisdom and skill. Our work culture has always been top-notch, identifying and appreciating efforts and making it a point to rise up as a team. We hold each other's back in every small project that we undertake and make the best of it.</p>
               <a href="/portfolio" class="btn btn-green">Explore Our
               Work</a>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- latest events  start--------->
<section class="py-90 event-section bg-blue">
   <div class="container-fluid main-container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h5 class="heading-xs dash">TOP TECH INSIGHTS OF OUR BLOG</h5>
               <h2 class="text-titile text-uppercase">EXPLORE THE LATEST TECH STORIES & NEWS</h2>
            </div>
         </div>
      </div>
      <div class="row mt-5 justify-content-center">
                  <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-xl-0">
            <div data-match-height="groupName" class="event-blog position-relative">
               <a href="https://toxsl.com/blog/200/toxsl-technologies-announces-special-bonus-for-its-employees-during-covid-19">
                  <span> 07 Jul 2020</span>
                  <h5>ToXSL Technologies Announces Special Bonus For Its Employees During COVID-19</h5>
                  <div class="blue-bottom"></div>
                  <p itemprop="description" class="description">We at ToXSL Technologies proudly announce that we are providing COVID-19 bonus to our employees who are constantly working from their homes.&nbsp;


ToXSL CEO, Mr. Shiv Charan Panjeta says, &ldquo;The company&#39;s norms are considered for its employee&rsquo;s benefits and w...</p>
               <a class="btn btn-theme" href="https://toxsl.com/blog/200/toxsl-technologies-announces-special-bonus-for-its-employees-during-covid-19">Read More</a>
               </a>
            </div>
         </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-xl-0">
            <div data-match-height="groupName" class="event-blog position-relative">
               <a href="https://toxsl.com/blog/199/stay-safe-at-home-and-contribute-only-if-you-can">
                  <span> 26 Mar 2020</span>
                  <h5>Stay Safe At Home And Contribute Only If You Can!</h5>
                  <div class="blue-bottom"></div>
                  <p itemprop="description" class="description">World is going throught a pandamic due to COVID-19. We advice everybody to stay at home and be safe!!

ToXSL Technologies understands and concerns its employees&#39; well-being plus it also obeys the useful instructio...</p>
               <a class="btn btn-theme" href="https://toxsl.com/blog/199/stay-safe-at-home-and-contribute-only-if-you-can">Read More</a>
               </a>
            </div>
         </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-xl-0">
            <div data-match-height="groupName" class="event-blog position-relative">
               <a href="https://toxsl.com/blog/193/a-warm-welcome-to-new-joiners-from-toxsl-technologies">
                  <span> 10 Jan 2020</span>
                  <h5>A Warm Welcome to New Joiners From ToXSL Technologies</h5>
                  <div class="blue-bottom"></div>
                  <p itemprop="description" class="description">For a fast-paced growth that our organization inhibits, we hire constant newbies to learn and to impart learning, people to continue the unique legacy of our organization. ToXSL Technologies is a leading company in the industry that goes for the ca...</p>
               <a class="btn btn-theme" href="https://toxsl.com/blog/193/a-warm-welcome-to-new-joiners-from-toxsl-technologies">Read More</a>
               </a>
            </div>
         </div>
                  <div class="col-xl-3 col-lg-4 col-md-6">
            <div data-match-height="groupName" class="blogimg">
               <a class="h-100 d-inline-block" href="/blog/category/14/life-at-toxsl"><img
                  src="/themes/new/img/blogimg.jpg"
                  class="img-fluid w-100 h-100" alt="Blogs"> </a>
            </div>
         </div>
               </div>
   </div>
</section>
<!-- latest events  start--------->

<!-- just wiork section start------->
<section class="pt-90 pb-70">
   <div class="container-fluid main-container">
   <div class="row">
      <div class="col-md-12 text-center">
         <h5 class="heading-xs dash">GET INSIGHTS OF OUR CULTURE</h5>
         <h2 class="text-titile text-uppercase">IT’S SO MUCH MORE THAN JUST WORK.</h2>
      </div>
   </div>
   <div class="fun-container mt-5">
            <div class="fun-item mb-20">
         <div class="fun-grid text-center">
            <div class="fun-img">
               <img class="img-fluid img-width" src="https://toxsl.com/image/page/28?file=SB10259525645465621499_1599718944.jpg" alt="Awards and Rewards">            </div>
            <div class="fun-content">
               <h4>Awards and Rewards</h4>
               <p><p>Appreciation to our talented and dedicated employees&nbsp;with monthly and quarterly awards.</p>
</p>
            </div>
         </div>
      </div>
            <div class="fun-item mb-20">
         <div class="fun-grid text-center">
            <div class="fun-img">
               <img class="img-fluid img-width" src="https://toxsl.com/image/page/29?file=img_2_1599723820.png" alt="Office Parties">            </div>
            <div class="fun-content">
               <h4>Office Parties</h4>
               <p><p>We celebrate and cherish the joyous moments by organizing different events and parties.</p>
</p>
            </div>
         </div>
      </div>
            <div class="fun-item mb-20">
         <div class="fun-grid text-center">
            <div class="fun-img">
               <img class="img-fluid img-width" src="https://toxsl.com/image/page/30?file=img_1_1599723543.png" alt="Employee Training">            </div>
            <div class="fun-content">
               <h4>Employee Training</h4>
               <p><p>Weekly training to enhance the skills of employees and prepare them for new technologies.</p>
</p>
            </div>
         </div>
      </div>
            <div class="fun-item mb-20">
         <div class="fun-grid text-center">
            <div class="fun-img">
               <img class="img-fluid img-width" src="https://toxsl.com/image/page/31?file=img_3_1599723851.png" alt="Games and Fun">            </div>
            <div class="fun-content">
               <h4>Games and Fun</h4>
               <p><p>We have a friendly and enjoyable working environment and love to play different games in our free time.</p>
</p>
            </div>
         </div>
      </div>

   </div>
</section>



{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}

</body>

</html>