<!DOCTYPE html>
{% load static %}

<html lang="en-US">
{% include 'includes/head.html'%}

<body>
{% include 'includes/navbar.html' %}

<main>
         <!-- Main wrapper start -->

<script>
$(document).ready(function(){
     $("header").addClass("custom-header");
});
</script>
<section class="title-section career-title">
	<div class="container-fluid main-container">
		<div class="row align-items-center">
			<div class="col-lg-7 mb-lg-0 mb-4">
				<div class="career-heading">
				<h1 class="text-titile text-uppercase text-white  mb-3 pb-0 position-relative">Explore The World Of Big <span class="text-green"> Opportunities</span></h1>
				<p class="text-white mb-0">Do you have the passion to learn & grow? We strive to give you a full-fledged growing career, driven with passion. We have a bundle of opportunities for you!</p>
			</div>
		</div>
			<div class="col-lg-5">
				<div class="career-current rounded-lg ml-lg-auto">
					<ul class="list-unstyled">
						<li class="rating-border">
						<a href="#currentopennings"> <img src="/themes/new/img/open.png"
              class="img-fluid mr-3" alt="current openings">Current Openings</a>
					</li>
					<li class="rating-border">
						<a href="/industrial-trainings"><img src="/themes/new/img/list.png"
              class="img-fluid mr-3" alt="Trainings"> Trainings</a>
					</li>
					<li>
						<a href="/fraud-awareness"><img src="/themes/new/img/banned.png"
              class="img-fluid mr-3" alt="Fraud Awareness">Fraud Awareness</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="py-90">
	<div class="container-fluid main-container">
		<div class="row">
			<div class="col-md-12 col-lg-9">
				<div class="section-title">
					<h2 class="text-titile text-uppercase">
						YOU WANT A CHALLENGING & <span class="text-green">ENJOYABLE WORK </span>ENVIRONMENT, WE WANT YOU TO REALIZE YOUR POTENTIAL.
					</h2>
				</div>
				 <p>You want to be recognized for your work, we want you to&nbsp;fulfil&nbsp;your aspirations. Being a performance-oriented organization, we strongly believe that the courage to&nbsp;fulfil vision&nbsp;comes from passion and not position. We strive to be the best at what we do every day by providing a working environment where people can grow professionally and personally. We offer a winning combination of mobile and web development services to help our clients get the most out of our&nbsp;solutions, so&nbsp;they can focus on what they do best.</p>

<p style="text-align:left"><span style="color:#000000"><span style="color:#212529">We focus on working with the best talent in the industry. If you want the world to be your playground, you need the best coaches, If you&rsquo;re looking for a place that values your passion and desire to learn and if you are aspiring to achieve your dreams then wait no more and send us your candidature for the position that best suits your expertise.</span></span></p>

<p>Share your resume at <a href="mailto:career@toxsl.com"><span style="color:#022a5e">career@toxsl.com</span></a>&nbsp;and get yourself enrolled at the earliest!</p>

<p><strong>You have the passion to learn &amp; grow? We have a bundle of opportunities for you!</strong></p>

<p><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/ZkutS9Ai1Lg" width="70%"></iframe>​​​​​​​</p>
			</div>
			  			<div class="col-md-12 col-lg-3 text-lg-right text-center">
				<a href="//www.linkedin.com/company/toxsl-technologies-pvt-ltd" target="_blank"> <img src="/themes/new/img/careers.png"
					class="img-fluid" alt="career"></a>
					<div class="mt-3">
						<a href="/life-toxsl"> <img src="/themes/new/img/lifeattoxsl.png"
					class="img-fluid" alt="career"></a>
					</div>
			</div>
			    		</div>
	</div>
</section>

<section class="py-90 bg-blue" id="currentopennings">
	<div class="container-fluid main-container">
		<div class="row justify-content-center">
			<div class="col-md-8 text-center">
				<h5 class="heading-xs dash">Current Openings</h5>
				<h2 class="text-titile text-uppercase">
					WE MAKE HARD EFFORTS TO GIVE YOU A <span class="text-green">GROWING CAREER</span>
				</h2>
			</div>
		</div>
	<div id="w0" class="row mt-5 m-0 justify-content-center">
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="126"><a href="/job/126"
	class="d-block bg-white current-job">
	<h3>BDE (Pre sales) / Online Bidder </h3>
	<div class="exp">
		<span>Experience : 1 - 3 year</span>
	</div>
	<div class="positions">
		<span>Positions : 5</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="134"><a href="/job/134"
	class="d-block bg-white current-job">
	<h3>Technical Manager </h3>
	<div class="exp">
		<span>Experience : 4 - 7</span>
	</div>
	<div class="positions">
		<span>Positions : 3</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="135"><a href="/job/135"
	class="d-block bg-white current-job">
	<h3>Electronics Hardware Engineer </h3>
	<div class="exp">
		<span>Experience : 1 - 3 years</span>
	</div>
	<div class="positions">
		<span>Positions : 2</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="136"><a href="/job/136"
	class="d-block bg-white current-job">
	<h3>IT hardware/Linux System Admin (Walk-in) </h3>
	<div class="exp">
		<span>Experience : Fresher - 2 years</span>
	</div>
	<div class="positions">
		<span>Positions : 2</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="138"><a href="/job/138"
	class="d-block bg-white current-job">
	<h3>Android Developer & Sr. Android Developer </h3>
	<div class="exp">
		<span>Experience :  1 - 3 Years</span>
	</div>
	<div class="positions">
		<span>Positions : 4</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="140"><a href="/job/140"
	class="d-block bg-white current-job">
	<h3>PHP Developer, Sr. PHP  & Team Lead </h3>
	<div class="exp">
		<span>Experience : 1 -  4 yrs</span>
	</div>
	<div class="positions">
		<span>Positions : 10</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="141"><a href="/job/141"
	class="d-block bg-white current-job">
	<h3>iOS Developer (Swift) </h3>
	<div class="exp">
		<span>Experience : 0.6m - 4 yrs</span>
	</div>
	<div class="positions">
		<span>Positions : 4</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="142"><a href="/job/142"
	class="d-block bg-white current-job">
	<h3>Flutter Developer </h3>
	<div class="exp">
		<span>Experience : 1 - 3 Years</span>
	</div>
	<div class="positions">
		<span>Positions : 5</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="144"><a href="/job/144"
	class="d-block bg-white current-job">
	<h3>Python Developer </h3>
	<div class="exp">
		<span>Experience :  2 - 4 Years</span>
	</div>
	<div class="positions">
		<span>Positions : 3</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="145"><a href="/job/145"
	class="d-block bg-white current-job">
	<h3>Node.js & Mean Stack Developer </h3>
	<div class="exp">
		<span>Experience : 2 - 4 yrs</span>
	</div>
	<div class="positions">
		<span>Positions : 4</span>
	</div>
</a>

</div>
<div class="col-md-6 col-xl-3 col-lg-6 mb-20" data-key="146"><a href="/job/146"
	class="d-block bg-white current-job">
	<h3>Content writer & Sr. Technical Content writer. </h3>
	<div class="exp">
		<span>Experience : 1 - 5 yrs</span>
	</div>
	<div class="positions">
		<span>Positions : 3</span>
	</div>
</a>

</div>
</div>
	</div>
</section>

<!-- team-section -->
<section class="py-90 testimonial-section">
	<div class="container-fluid main-container">
		<!-- row -->
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<!-- section-title -->
				<div class="section-title style2">
					<div class="title-header">
						<h5 class="heading-xs dash text-white">Crowning Moments</h5>
						<h2 class="text-uppercase text-titile text-white">
							 YOUR WORD OF <span class="text-green"> ENCOURAGEMENT</span> GIVES US THE THRIVE TO MOVE FORWARD
						</h2>
					</div>
					<div class="title-desc text-white">We don't claim to be the best. Our success is a result of their hardwork and accomplishment. It is this bond that makes us one unified team!</div>
				</div>
				<!-- section-title end -->
			</div>
		</div>
		<!-- row end -->

		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="testimonial-slide2  owl-carousel" data-item="3"
					data-nav="false" data-dots="false" data-auto="true">
					<!-- testimonials -->
					<div class="testimonials style2 text-center mb-20 mt-15">
						<div class="testimonial-content">
							<!-- testimonials-content -->
							<blockquote  data-match-height="groupName">"I joined ToXSL as a fresher and it turned out to be one of
												the best platforms I could ever get to grow my career in the
												IT field. I learned everything from the very scratch and
												eventually enhanced my technical skills with the support of
												cooperative developers at ToXSL."</blockquote>

							<div class="testimonial-caption">
								<!-- testimonials-caption -->
								<h6>Manpreet Kaur</h6>
								<label>IOS</label>

							</div>
						</div>
					</div>
					<!-- testimonials end -->
					<!-- testimonials -->
					<div class="testimonials style2  text-center mb-20 mt-15">
						<div class="testimonial-content">
							<!-- testimonials-content -->
							<blockquote  data-match-height="groupName">" I have been a part of ToXSL since last 4 years and there
												has been not a single day that I didn’t learn anything.
												Working at ToXSL is like encountering a new opportunity
												every new day and learning a lot out of it! "</blockquote>
							<div class="testimonial-caption">
								<!-- testimonials-caption -->
								<h6>Pawan Kumar</h6>
								<label>PHP</label>

							</div>
						</div>
					</div>
					<!-- testimonials end -->
					<!-- testimonials -->
					<div class="testimonials style2  text-center mb-20 mt-15">
						<div class="testimonial-content">
							<!-- testimonials-content -->
							<blockquote data-match-height="groupName">" If we talk about cooperation and team unity, ToXSL
												Technologies is the one! All the co-workers at ToXSL are
												full of patience, have good experience in their respective
												fields and are co-operative at all stages. Best
												work-environment to learn and grow! . "</blockquote>
							<div class="testimonial-caption">
								<!-- testimonials-caption -->
								<h6>Sagar Sachdeva</h6>
								<label>IOS</label>

							</div>
						</div>
					</div>
					<!-- testimonials end -->



				</div>
				<!-- testimonial-slide end-->
			</div>
		</div>
		<!-- row end-->
	</div>
</section>
<section class="py-90">
	<div class="container-fluid main-container">
		<div class="row justify-content-center">
			<div class="col-md-9 text-center">
				<h5 class="heading-xs dash">Why Join Us</h5>
				<h2 class="text-titile text-uppercase">
					WE ARE NOT A BUNCH OF <span class="text-green">WORKAHOLICS</span>, WE APPRECIATE, CREATE AND ADMIRE YOUR <span class="text-green">TALENT !</span>
				</h2>
			</div>

			<div class="row mt-5">
				<div class="col-md-6 col-lg-4 col-xl-3 box2 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/extra-pay-for-extra-efforts.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3 text-white">Extra Pay For Extra
							Efforts</h3>
						<p class="mb-0 text-white">We ensure to appreciate all our employees who put in more efforts by working extra for the company. Whether employees have worked on a non-working day or has spent extra working hours on usual days.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box3 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/get-togethers-outings.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3">GET-TOGETHERS & OUTINGS</h3>
						<p class="mb-0">From time to time, we plan outings to bring zeal of excitement and explore the real world too. Whether it is a birthday celebration, annual party, or any festive season.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box2 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/recognition-awards.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3 text-white">RECOGNITION & AWARDS</h3>
						<p class="mb-0 text-white">We never let our staff's efforts get overlooked, whether the employee has put efforts for a project, or he has referred a candidate, we present recognition awards and prizes.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box3 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/health-insurance.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3">HEALTH INSURANCE POLICY</h3>
						<p class="mb-0">We treat our employees as our family and care for their well-being. We have introduced a group health insurance program for all employees to stay on the safer.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box4 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/weekly-trainings.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3 text-white">WEEKLY TRAININGS</h3>
						<p class="mb-0 text-white">To stay updated with the latest technology trends which other competitors are practicing, we make a point to carry out regular training sessions to make sure that every employee is aware of the current technologies.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box1 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/explore-learn.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3 text-white">EXPLORE AND LEARN</h3>
						<p class="mb-0 text-white">We don't believe in grasping technology, rather we implement it in real life and explore more out of it. Our expert masters and developers assist the employees.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box4 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/coupon.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3 text-white">EXTRA DINNER COUPONS</h3>
						<p class="mb-0 text-white">We value every effort put by our employees towards the company. We make sure that if any of our employees are working late at the office after the working hours, he/she gets extra dinner coupons free from the company itself and order the food of their own choice.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 box1 box">
					<div class="feature-icon">
						<img src="/themes/new/img/career-icon/lively-work.png"
							class="img-fluid" alt="why choose us">
					</div>
					<div class="feature-content mt-0">
						<h3 class="heading-title mb-3 text-white">LIVELY WORK ENVIRONMENT</h3>
						<p class="mb-0 text-white">Working with us promises you a lively and vibrant workplace where Mondays not at all seem gruesome. Working in our company doesn't seem like a burden.</p>
					</div>
				</div>
			</div>

		</div>


	</div>      </main>

{% include 'includes/get-in-touch.html' %}

{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}

</body>

</html>