{% load static %}
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>About Us</h3>
            <p>We are a well-established company that provides web design,
            web development, and digital media services.</p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static 'img/about-mission.jpg' %}" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Mission</a></h2>
                    <p>
                        We have been in the run for years and improving our social media campaigns, digital marketing strategy, and coding
                        tactics as per the trend.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static 'img/about-plan.jpg' %}" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Plan</a></h2>
                    <p>
                        We have been in the run for years and improving our social media campaigns, digital marketing strategy, and coding
                        tactics as per the trend.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="{% static 'img/about-vision.jpg' %}" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="#">Our Vision</a></h2>
                    <p>
                    From startups to big businesses, we help everyone with building the brand and updating the online platform as the need
                    of the time. And gives ideas to grow small businesses
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>