<section id="services">
    <div class="container">

        <header class="section-header wow fadeInUp">
            <h3>Services</h3>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus,
                ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa
                panatarel.</p>
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="">Web Design</a></h4>
                <p class="description">An attractive website design is the most important asset for a business owner, who enters into the online business
                industry and wishes to offer complete satisfaction to his customers. Apeed Technologies is a top rated web design
                services company offering a full array of design services to help you with your online presence. We render affordable
                and professional custom website designs that contribute and immensely benefit your business growth.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title"><a href="">Automation Testing</a></h4>
                <p class="description">Apeed Technologies is an experienced automation testing company which understands the client requirements and assist
                them with suitable automation testing services. Our wide set of advanced automation tools allows the customers to choose
                open source tools from us and get benefits out of the cost-cutting solutions. Our aim is to reach the customer
                expectations and help businesses to reach their business goals.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                <h4 class="title"><a href="">IoT Application</a></h4>
                <p class="description">Apeed Technologies has created numerous IoT ventures. We have expertise in Raspberry Pi with Python scripts and
                different gadgets, for example, GeekBox with Android custom ROM. We unite industry information, procedure, design
                thinking and innovation capacities to help organizations digitize the physical world. We help organizations to focus at
                the procedure and experience level and accomplishing cost savings, generation of revenue and risk management.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">Mobile App Development</a></h4>
                <p class="description">Apeed Technologies is proficient in providing the best and unique mobile applications that fulfill almost every
                business's demand in the present era. We have developed 15+ Hybrid applications so far in
                various verticals including taxi-dispatching, digital signage, hotel booking, chatting & dating app, image tweaking,
                real estate, eLearning, eMenu & ordering apps, streaming player, 
                social networking, job portal sites, alarm apps, soccer game development, SMS & call history.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                <h4 class="title"><a href="">Web Development</a></h4>
                <p class="description">Apeed Technologies offers you the guaranteed and supreme results dealing with the web development frameworks
                efficiently. The team of professionals and specialists hold an expertise in working with numerous tools and languages.
                We offer you the superior solutions keeping in mind the efficiency, security, strong support, and cost concerns to make
                sure the services best suit your defined budget. Over the years, we have been successfully offering secure and reliable
                solutions to organizations from startups to large enterprises.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><a href="">Digital Marketing</a></h4>
                <p class="description">Digital Marketing also known as online marketing is a key business tool in today’s marketing strategies. It increases
                the visibility of your online business across the search engines, boosts the website traffic, enhances customer
                engagement, and increases conversion rate. In all, digital marketing is a powerful tool that enables your businesses to
                harness the power of the internet and to take them to the next level.</p>
            </div>

        </div>

    </div>
</section>