{% load static %}
<head>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
      <meta charset="UTF-8">
      <meta name="csrf-param" content="_csrf_toxsl">
<meta name="csrf-token" content="nd8j199Ux2NfRLm427NzPtpvUL6ZbUcz2P4-TDp0TM_rmXWnthqEVG80w9-u4hFpuwg07ftbFH2VvAo2WTk8oA==">
      <title>{{ title|upper }} | APEED TECHNOLOGY PVT. LTD.</title>
      <meta name="description" content="ToXSL Technologies is serving as a leading Software Development Company since 8+ years in Mohali. We are specialized in Web and Mobile App Development services.">
<meta name="keywords" content="Software Development Company in Mohali, Software development company India, Software development company Chandigarh, ">
<meta name="author" content="@ToXSL">
<meta property="og:url" content="https://toxsl.com/site/index?home=0">
<meta property="og:type" content="website">
<meta property="og:title" content="Leading Software Development Company | ToXSL Technologies">
<meta property="og:description" content="ToXSL Technologies is serving as a leading Software Development Company since 8  years in Mohali. We are specialized in Web and Mobile App Development services.">
<meta property="og:image" content>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Leading Software Development Company | ToXSL Technologies">
<meta name="twitter:description" content="ToXSL Technologies is serving as a leading Software Development Company since 8+ years in Mohali. We are specialized in Web and Mobile App Development services.">
<meta name="twitter:image" content>
<link href="https://toxsl.com/site/index?home=0" rel="canonical">
<link href="{% static 'assets/75d3c473/css/style-social.css' %}" rel="stylesheet">
<link href="{% static 'assets/f33e3941/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'assets/18e781f7/css/style-gdpr.css' %}" rel="stylesheet">
<link href="{% static 'assets/984e8bc3/css/style-quote.css' %}" rel="stylesheet">
<script src="{% static 'assets/eff1d62f/jquery.js' %}"></script>
<script src="{% static 'assets/d8cd7d9f/yii.js' %}"></script>
<script src="{% static 'assets/f33e3941/js/bootstrap.bundle.js' %}"></script>      <link rel="shortcut icon" href="{% static '' %}themes/new/img/favicon.gif" type="image/png">
      <link rel="stylesheet" href="{% static '' %}themes/new/css/owl.carousel.css">
      <link rel="stylesheet" href="{% static '' %}themes/new/css/font-awesome.css">
      <link rel="stylesheet" href="{% static '' %}themes/new/css/hamburgers.css">
      <link rel="stylesheet" href="{% static '' %}themes/new/css/style.css">
      <link rel="stylesheet" href="{% static '' %}themes/new/css/responsive.css">
   </head>