{% load static %}

<header class="myheader " id="myheader">
         <nav class="navbar navbar-expand-xl p-lg-0 p-2">
            <div class="container-fluid main-container">
               <a class="navbar-brand" href itemscope itemtype="https://schema.org/Brand">
               <img class="img-reponsive" src="{% static 'themes/new/img/apeed_logo.png' %}" alt="ApEED Technologies" itemprop="logo" title="ApEED Technologies"></a>
               <div class="hamburger hamburger--spring">
                  <button class="navbar-toggler hamburger" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="hamburger-box"> <span class="hamburger-inner"></span>
                  </span>
                  </button>
               </div>
               <!-- Navbar links -->
               <div class="collapse navbar-collapse" id="navbarNav">
                  <a class="navbar-brand d-xl-none mt-4 ml-4" href>
                  <img class="img-fluid w-100 mw-100 mb-30 mt-10" src="{% static 'themes/new/img/apeed_logo.png' %}" alt="ApEED">
                  peed
                  </a>
                  <ul class="navbar-nav ml-auto  align-items-xl-center">
                     <li class="dropdown caret company-dropdown">
                        <a class="dropdown-toggle" href="{% url 'about-us' %}" id="companydropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Company </a>
                        <div class="dropdown-menu p-0 border-top pl-xl-0 pl-3" aria-labelledby="companydropdown">
                           <a class="dropdown-item border-0" href="{% url 'about-us' %}">About Us</a>
                           <a class="dropdown-item" href="{% url 'life-apeed' %}">Life @ApEED</a>
                           <a class="dropdown-item" href="{% url 'clients' %}">What Our Clients Say</a>
                        </div>
                     </li>
                     <li class="dropdown mega-dropdown caret">
                        <a href="javascript:void(0)" class="dropdown-toggle position-relative" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                        <div class="dropdown-menu mega-menu border-top py-xl-2 py-0 px-xl-3 px-0 m-auto" aria-labelledby="navbarDropdownMenuLink3">
                           <ul class="list-unstyled">
                              {% for i in services_obj %}
                              <li class="d-xl-inline-block d-none mt-xl-2">
                                 <h5 class="position-relative">
                                    <a href="#">{{i.services}}</a>
                                 </h5>
                                 {% if i.services == "Automation Testing" %}
                                    <ul class="list-unstyled">
                                       <li><a href="#">{{ i }}</a></li>
                                    </ul>
                                 {% else %}
                                 <ul class="list-unstyled">
                                    <li><a href="#">{{ i }}</a></li>
                                 </ul>
                                 {% endif %}
                              </li>
                              {%endfor%}
                              </ul>
                        </div>
                     </li>
                     <li><a href="portfolio/">Portfolio</a></li>
                     <li class="dropdown mega-dropdown caret">
                        <a href="javascript:void(0)" class=" dropdown-toggle position-relative" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hire Us</a>
                        <div class="dropdown-menu mega-menu border-top py-xl-2 py-0 px-xl-3 px-0 m-auto h-auto" aria-labelledby="navbarDropdownMenuLink4">
                           
                           <ul class="list-unstyled">
                              {% for data in hire_us%}
                              <li>
                                 <ul class="list-unstyled">
                                    <li><a href="{%  url 'hireus' data.id %}"> &nbsp;&nbsp;Hire {{data.title}} </a></li>
                                 </ul>
                              </li>
                              {% endfor %}
</ul>
                        </div>
                     </li>
                     <li><a href="blog/">Blog</a></li>
                     <li><a href="career/">Career</a></li>
                     <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                     <li><a class="btn btn-green" href="{% url 'product' %}"> <i class="fa fa-envelope"></i> Products
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>