<!DOCTYPE html>
{% load static %}
<html lang="en-US">

{% include 'includes/head.html'%}

      <body>
            <!---- header section start-------->
{% include 'includes/navbar.html' %}


           <!------- body Section start------------->
      <main>
         
<section class="home-slider">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slide1 overlay">
      <div class="container-fluid content-slider main-container">
        <div class="row w-100">
          <div class="col-12">
            <div class="slider-text">
              <h5 class="heading-xs dash mb-4">APEED WELCOMES YOU!</h5>
              <h1 class="mb-4">
               WE BUILD SMART & <br>INNOVATIVE SOLUTIONS
              </h1>
              <p>We are passionate about building innovative web and app development solutions that bring value and grow your business by getting high ROI.</p>
              <a href="contact/request/quote/" class="btn btn-theme">Hire Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Single Slider -->
    <!-- Single Slider -->
    <div class="single-slider overlay slide2">
      <div class="container-fluid content-slider main-container">
        <div class="row w-100">
          <div class="col-12">
            <div class="slider-text">
              <h1 class="mb-4">
                WE DELIVER EXPERIENCE WITH OUR EXCEPTIONAL IOT APPLICATION SERVICES
              </h1>

              <p>Get the experience like never before with our digital solutions, customized just for you. Our exceptional IOT application services are designed to meet your specific business challenges.</p>
              <a href="contact/request/quote/" class="btn btn-theme">Hire Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Single Slider -->
  </div>
</section>

<!-- services-section -->
<div class="who-we-are-area py-90 bg-blue">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title">
          <h5 class="heading-xs dash">What we do</h5>
          <h2 class="text-titile clr-blue">
            WE HELP YOUR BUSINESS WITH INDUSTRY-READY <span class="text-green">DIGITAL</span> SOLUTIONS
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title">
          <p class="mb-0">High collaborative efforts, steady work, and commitment by encouraging each other
              is the motto of ApEED. Our every attempt results in relevant and fruitful outcomes.
              We are here to serve our clients with the best IT projects and a promise to deliver the
              best digital marketing services including web and app development. Our core team understands
              the essentials of business, clients and target audience and that's how our operations run
              on the considerable number of concerts to come over the expectations of clients.</p>
        </div>
      </div>
    </div>
    <div class="row">
                 
         <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6">
            <div class="what-we-do-item text-center mt-30" data-match-height="groupName">
            
                                    <div class="feature-icon">
                        <img src="{% static 'themes/new/img/services/Software_Automation.png' %}" alt="Automation Testing" itemprop="image">                     </div>
                                         <h3 class="heading-title">Automation Testing</h3>
				<div class="feature-content mb-0 mt-0">
             <p>ApEED Technologies is an experienced automation testing company that understands
                 the client requirements &amp;...</p>
                  <a href="service/2/automation-testing/"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
                  
         <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6">
            <div class="what-we-do-item text-center mt-30" data-match-height="groupName">
            
                                    <div class="feature-icon">
                        <img src="{% static '' %}themes/new/img/services/iot-application-services.png" alt="IoT Application Services" itemprop="image">                     </div>
                                         <h3 class="heading-title">IoT Application Services</h3>
				<div class="feature-content mb-0 mt-0">
             <p>ApEED Technologies has created many IoT ventures.
                 We have expertise in Raspberry Pi with Python scripts &amp;...</p>
                  <a href="service/3/iot-application-services/"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
                  
         <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6">
            <div class="what-we-do-item text-center mt-30" data-match-height="groupName">
            
                                    <div class="feature-icon">
                        <img src="{% static '' %}themes/new/img/services/mobile-app-development-services.png" alt="Mobile App Development Services" itemprop="image">                     </div>
                                         <h3 class="heading-title">Mobile App Development Services</h3>
				<div class="feature-content mb-0 mt-0">
             <p>Top Mobile App Development Company

ApEED Technologies is proficient in providing the best and unique mobile...</p>
                  <a href="service/4/mobile-app-development-services/"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
                  
         <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6">
            <div class="what-we-do-item text-center mt-30" data-match-height="groupName">
            
                                    <div class="feature-icon">
                        <img src="{% static '' %}themes/new/img/services/best-web-design-services.png" alt="Web Design Services" itemprop="image">                     </div>
                                         <h3 class="heading-title">Web Design Services</h3>
				<div class="feature-content mb-0 mt-0">
             <p>An attractive website design&nbsp;is&nbsp;the most important asset for a business owner, who enters into the o...</p>
                  <a href="service/5/web-design-services/"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
            </div>
    <div class="row">
        <div class="col-md-12 text-center mt-5">
         <a class="btn btn-theme mt-0" href="services/">Explore Services</a>            
         </div>
    </div>
  </div>
</div>
<!-- services-section end -->

<!-- about-section -->
<!--<section class="video-section">-->
<!--  <div class="container-fluid px-0 overflow-hidden">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="position-relative">-->
<!--          <div class="video-img d-none d-lg-block">-->
<!--            <img src="{% static 'themes/new/img/team.jpg' %}" alt="ApEED" class="img-fluid w-100 object-cover">-->
<!--          </div>-->
<!--          <div class="video-img d-block d-lg-none">-->
<!--            <img src="{% static '' %}themes/new/img/company-employees.jpg" alt="ApEED" class="img-fluid img-height w-100 object-cover">-->
<!--          </div>-->
<!--          <div class="video-content">-->
<!--            <div class="row justify-content-center">-->
<!--              <div class="col-lg-12 col-xl-12 col-md-12">-->
<!--                <div class="text-center px-3">-->
<!--                  <div class="row-title mb-xl-5 mb-0">-->
<!--                    &lt;!&ndash; section title &ndash;&gt;-->
<!--                    <div class="title-header">-->
<!--                      <h5 class="heading-xs dash">WHAT MAKES US DIFFERENT?</h5>-->
<!--                      <h2 class="text-uppercase text-title mb-0">We offer flawless digital experience with simple solutions that integrate your business easily.</h2>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; section title end &ndash;&gt;-->
<!--                  </div>-->
<!--                  <div class="ttm-video-btn">-->
<!--                    <a class="ttm-play-btn" data-toggle="modal" data-target="#video-Modal"> <span class="ttm-video-btn-play"><i class="fa fa-play"></i></span>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- about-section end -->

<!--- worjk section start------->
<section class="work-section pt-90 pb-70">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-title">
          <h2 class="text-titile clr-blue">
            YOUR GATEWAY TO <span class="text-green">SCALABLE,</span> RESPONSIVE, & SECURE SOLUTIONS
          </h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title">
          <p class="mb-0">We provide unmatched services to address businesses from all over the world.
              ApEED has figured out some of its most lucrative services and innovative solutions for all
              the business types to leave your key brand message in the consumer's mind. Moreover,
              we have successfully delivered 100+ projects in the last 1 years. Moving with this
              fast-changing and tech-advanced environment requires agility, coordination, and critical
              thinking, thus we work accordingly and helps businesses to identify and leverage the
              new opportunities.</p>
        </div>
      </div>
    </div>
   
    <div class="row mt-5">
    
         
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/3/file%3DClassified_1597320983.jpg" alt="Classified : Web and Mobile Application">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D3%26title%3Dclassified-web-and-mobile-application.html"><span>Classified : Web and Mobile Application</span></a>
                </h2>
                <a class="btn btn-green" href="page/3/classified-web-and-mobile-application/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/4/file%3Decommerce_1597321033.jpg" alt="E-Commerce: Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D4%26title%3De-commerce-web-and-mobile-applications.html"><span>E-Commerce: Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/4/e-commerce-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/5/file%3DFood%2BOrdering_1597321065.jpg" alt="Food Ordering: Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D5%26title%3Dfood-ordering-web-and-mobile-applications.html"><span>Food Ordering: Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/5/food-ordering-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/6/file%3DSocial_1597321173.jpg" alt="Social: Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D6%26title%3Dsocial-web-and-mobile-applications.html"><span>Social: Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/6/social-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/7/file%3DTaxi_1597321196.jpg" alt="Taxi: Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D7%26title%3Dtaxi-web-and-mobile-applications.html"><span>Taxi: Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/7/taxi-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/9/file%3Derp_1597321257.jpg" alt="Education ERP Modules: Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D9%26title%3Deducation-erp-modules-web-and-mobile-applications.html"><span>Education ERP Modules: Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/9/education-erp-modules-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/12/file%3DMarket%2BPlace_1597321283.jpg" alt="Market Place:Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D12%26title%3Dmarket-place-web-and-mobile-applications.html"><span>Market Place:Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/12/market-place-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
          
      <div class="col-xl-3 col-lg-4 col-md-6 industry-col">
        
        <div class="portfolio-item mb-20">
          <div class="item-content">
            
             <img class="img-fluid" src="/static/image/page/13/file%3Dreal%2Bestate_1597321313.jpg" alt="Real estate: Web and Mobile Applications">
            <div class="item-description">
              <div class="description-content">
                <h2 class="mb-0">
                   <a href="page/view/id%255Bid%255D%3D13%26title%3Dreal-estate-web-and-mobile-applications.html"><span>Real estate: Web and Mobile Applications</span></a>
                </h2>
                <a class="btn btn-green" href="page/13/real-estate-web-and-mobile-applications/" tabindex="0">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
            
    </div>







    
  </div>
</section>
<!-- work section end----------->

<!-- client-section -->
<section class="about-services-section">
  <div class="container-fluid py-55 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h5 class="heading-xs dash text-white">OUR CERTIFICATIONS</h5>
        <h2 class="text-titile text-white mb-0">
            DON’T JUST TRUST <span class="text-green">OUR WORDS,</span> SEE WHAT OUR PARTNERS HAVE TO SAY
        </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center bdr-rt">
      <div class="col-md-3 col-lg-3 col-xl-3  col-sm-3 text-center border-bottom border-sm-right border-right-0">
        <div class="feature-alt">
          <h3 class="mb-0">
           8 <span class="text-green">+</span>
          </h3>
          <p class="text-center mb-0">YEARS IN BUSINESS</p>
        </div>
      </div>
      <!-- .col -->
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 text-center border-sm-right border-right-0 border-bottom">
        <div class="feature-alt">
          <h3 class="mb-0">
            2200 <span class="text-green">+</span>
          </h3>
          <p class="text-center mb-0">PROJECTS DELIVERED</p>
        </div>
      </div>

      <!-- .col -->
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 text-center border-bottom border-sm-right border-right-0">
        <div class="feature-alt">
          <h3 class="mb-0">
            1500 <span class="text-green">+</span>
          </h3>
          <p class="text-center mb-0">CLIENTS WORLDWIDE</p>
        </div>
      </div>
      <!-- .col -->
      <!-- .col -->
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 text-center border-bottom">
        <div class="feature-alt">
          <h3 class="mb-0">
            220 <span class="text-green">+</span>
          </h3>
          <p class="text-center mb-0">EMPLOYEES</p>
        </div>
      </div>
      <!-- .col -->

    </div>
    <!-- .row -->
    <div class="row align-items-center justify-content-center py-5">
      <div class="col-md-12 text-center">
        <ul class="list-unstyled d-inline-block justify-content-center">
          <li class="mx-4 my-4 my-xl-0">
            <div class="iso-img">
              <img src="{% static '' %}themes/new/img/certification-logo/iso1.png" alt="ISO" class="img-fluid bg-theme">
            </div>
          </li>
          <li class="mx-4 my-4 my-xl-0">
            <div class="iso-img">
              <img src="{% static '' %}themes/new/img/certification-logo/iso2.png" alt="ISO" class="img-fluid bg-theme">
            </div>
          </li>
          <li class="mx-4 my-4 my-xl-0">
            <div class="iso-img">
              <img src="{% static '' %}themes/new/img/certification-logo/cii.png" alt="ISO" class="img-fluid bg-theme">
            </div>
          </li>
          <li class="mx-4 my-4 my-xl-0">
            <div class="iso-img">
              <img src="{% static '' %}themes/new/img/certification-logo/naascom.png" alt="ISO" class="img-fluid bg-theme">
            </div>
          </li>
          <li class="mx-4 my-4 my-xl-0">
            <div class="iso-img">
              <img src="{% static '' %}themes/new/img/certification-logo/yiiframework.png" alt="ISO" class="img-fluid bg-theme">
            </div>
          </li>
          <li class="mx-4 my-4 my-xl-0">
            <div class="iso-img">
              <img src="{% static '' %}themes/new/img/certification-logo/iosDeveloper.png" alt="ISO" class="img-fluid bg-theme">
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>


<!-- our-project-section-section -->
<section class="py-90 our-project-section">
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-lg-11 col-md-11">
        <div class="portfolio-title mb-5">
          <h5 class="heading-xs dash">OUR FIELD OF EXPERTISE</h5>
          <h2 class="text-uppercase text-titile">
            WE ENTITLE YOUR <span class="text-green">BUSINESS </span> WITH UNCONVENTIONAL SERVICES AND CUTTING-EDGE SOLUTIONS
          </h2>
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <div class="portfolio-slide owl-carousel" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                      <div class="featured-imagebox featured-imagebox-portfolio">
          <div class="ttm-box-view-content-inner">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="portfolio/932/yumcrust/"> 
                      <img class="img-fluid" src="portfolio/image/932/file%3DYumcrust.png" alt="YumCrust">                     </a>
            </div>
            <!-- featured-thumbnail end-->
            <!-- ttm-box-view-overlay -->
            <div class="ttm-box-view-overlay">
              <div class="featured-iconbox">
                <div class="portfolio-content">
                  <h5>
                    <a class="text-white" href="portfolio/932/yumcrust/">YumCrust</a>
                  </h5>
                  <p>&quot;An Online&nbsp;Food Ordering App To Serve All!&quot;

Get your meal anytime and anywhere. YumCrust is an online food ordering app that allows users to browse and order thei...</p>
                  <a href="portfolio/932/yumcrust/" class="btn btn-green">VIEW CASE STUDY</a>
                </div>
              </div>
            </div>
            <!-- ttm-box-view-overlay end-->
          </div>
        </div>
        <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio">
          <div class="ttm-box-view-content-inner">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="portfolio/931/kaya-health/"> 
                      <img class="img-fluid" src="portfolio/image/931/file%3DKaya%2BHealth.png" alt="Kaya Health">                     </a>
            </div>
            <!-- featured-thumbnail end-->
            <!-- ttm-box-view-overlay -->
            <div class="ttm-box-view-overlay">
              <div class="featured-iconbox">
                <div class="portfolio-content">
                  <h5>
                    <a class="text-white" href="portfolio/931/kaya-health/">Kaya Health</a>
                  </h5>
                  <p>


&quot;An Application To Get Online Medical Treatment&quot;

This is a robust mobile application that allows people to interact with doctors via chats, audio calls, video co...</p>
                  <a href="portfolio/931/kaya-health/" class="btn btn-green">VIEW CASE STUDY</a>
                </div>
              </div>
            </div>
            <!-- ttm-box-view-overlay end-->
          </div>
        </div>
        <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio">
          <div class="ttm-box-view-content-inner">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="portfolio/930/ridego/"> 
                      <img class="img-fluid" src="portfolio/image/930/file%3DRidego.png" alt="RideGo">                     </a>
            </div>
            <!-- featured-thumbnail end-->
            <!-- ttm-box-view-overlay -->
            <div class="ttm-box-view-overlay">
              <div class="featured-iconbox">
                <div class="portfolio-content">
                  <h5>
                    <a class="text-white" href="portfolio/930/ridego/">RideGo</a>
                  </h5>
                  <p>&quot;An Application To Book The Car Rides&quot;

For all the car riders, this application is a blessing! Here, the application aggregates the users for online car rental and car...</p>
                  <a href="portfolio/930/ridego/" class="btn btn-green">VIEW CASE STUDY</a>
                </div>
              </div>
            </div>
            <!-- ttm-box-view-overlay end-->
          </div>
        </div>
        <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio">
          <div class="ttm-box-view-content-inner">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="portfolio/929/motion-grafic/"> 
                      <img class="img-fluid" src="portfolio/image/929/file%3DMotion%2BGrafic.png" alt="Motion Grafic">                     </a>
            </div>
            <!-- featured-thumbnail end-->
            <!-- ttm-box-view-overlay -->
            <div class="ttm-box-view-overlay">
              <div class="featured-iconbox">
                <div class="portfolio-content">
                  <h5>
                    <a class="text-white" href="portfolio/929/motion-grafic/">Motion Grafic</a>
                  </h5>
                  <p>&quot;Thousands of templates, royalty-free music, videos, and much more to download.&quot;

It&#39;s a robust online platform to download thousands of templates, royalty-free mus...</p>
                  <a href="portfolio/929/motion-grafic/" class="btn btn-green">VIEW CASE STUDY</a>
                </div>
              </div>
            </div>
            <!-- ttm-box-view-overlay end-->
          </div>
        </div>
        <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio">
          <div class="ttm-box-view-content-inner">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="portfolio/928/frisco-county/"> 
                      <img class="img-fluid" src="portfolio/image/928/file%3DFrisco-county.png" alt="Frisco-County">                     </a>
            </div>
            <!-- featured-thumbnail end-->
            <!-- ttm-box-view-overlay -->
            <div class="ttm-box-view-overlay">
              <div class="featured-iconbox">
                <div class="portfolio-content">
                  <h5>
                    <a class="text-white" href="portfolio/928/frisco-county/">Frisco-County</a>
                  </h5>
                  <p>&quot;A Mosquito Report Mobile App&quot;

It&#39;s a robust mobile application designed for users to access the requests for services and inspection to track the West Nile Virus,...</p>
                  <a href="portfolio/928/frisco-county/" class="btn btn-green">VIEW CASE STUDY</a>
                </div>
              </div>
            </div>
            <!-- ttm-box-view-overlay end-->
          </div>
        </div>
        <!-- featured-imagebox -->
                <div class="featured-imagebox featured-imagebox-portfolio">
          <div class="ttm-box-view-content-inner">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="portfolio/927/ekirana/"> 
                      <img class="img-fluid" src="portfolio/image/927/file%3DEkirana.png" alt="Ekirana">                     </a>
            </div>
            <!-- featured-thumbnail end-->
            <!-- ttm-box-view-overlay -->
            <div class="ttm-box-view-overlay">
              <div class="featured-iconbox">
                <div class="portfolio-content">
                  <h5>
                    <a class="text-white" href="portfolio/927/ekirana/">Ekirana</a>
                  </h5>
                  <p>&quot;An Online Grocery Store Application&quot;

This mobile application effectively allows the users to view and order groceries as per their requirements using item categories...</p>
                  <a href="portfolio/927/ekirana/" class="btn btn-green">VIEW CASE STUDY</a>
                </div>
              </div>
            </div>
            <!-- ttm-box-view-overlay end-->
          </div>
        </div>
        <!-- featured-imagebox -->
             </div>
    </div>
    <!-- row end -->
  </div>
</section>
<!-- our-project-section-section -->

<!---Review Section start==============-->
<section class="about-services-section review-section">
  <div class="container-fluid py-55 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h5 class="heading-xs dash text-white">TOKEN OF RECOGNITION</h5>
        <h2 class="text-titile text-uppercase text-white mb-0">
          We take pride in our <span class="text-green">customers</span>
          satisfaction
        </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 overflow-hidden">
    <div class="row align-items-center bdr-rt justify-content-center">
      <!-- .col -->
      <div class="col-xl-4 col-lg-6 col-md-6  border-right-0 border-sm-right border-bottom p-0">
        <a href="https://clutch.co/profile/ApEED-technologies" target="_blank" class="d-block">
        <div class="feature-alt d-flex justify-content-center align-items-center text-center text-md-left">
          <div class="review-icon mb-0 w-100 d-block">
            <img src="themes/new/img/review-logo/clutch-wite-logo.png" class="img-fluid" alt="Clutch">
          </div>
          <div class="feature-content mt-2 mt-md-0">
            <h4 class="mb-0">
              TOP MOBILE APP DEVELOPER
            </h4>
            <p class="text-md-left text-center mb-0">
              <span class="text-green">4.8/5</span> Rating On Clutch
            </p>
          </div>
        </div>
        </a>
      </div>
      <!-- .col -->
      <div class="col-xl-4 col-lg-6 col-md-6 border-right-0 border-sm-right border-bottom p-0">
        <a href="https://www.goodfirms.co/company/ApEED-technologies-pvt-ltd" target="_blank" class="d-block">
        <div class="feature-alt d-flex justify-content-center align-items-center text-center text-md-left">
          <div class="review-icon mb-0 w-100 d-block">
            <img src="{% static '' %}themes/new/img/review-logo/goodfirms-wite-logo.png" class="img-fluid" alt="Good Firms">
          </div>
          <div class="feature-content mt-2 mt-md-0">
            <h4 class="mb-0">
             TOP MOBILE APP DEVELOPER
            </h4>
            <p class="text-md-left text-center mb-0">
              <span class="text-green">5/5 </span> Rating On GoodFirms
            </p>
          </div>
        </div>
      </a>
      </div>
      <!-- .col -->
      <div class="col-xl-4 col-lg-6 col-md-6  border-bottom border-right-0 border-sm-right p-0">
        <a href="https://www.peopleperhour.com/freelancer/design/ApEED-tech-mobile-app-and-website-development-xvxmma" target="_blank" class="d-block">
        <div class="feature-alt d-lg-flex d-inline-flex justify-content-center align-items-center text-center text-md-left">
          <div class="review-icon mb-0 w-100 d-block">
            <img src="{% static '' %}themes/new/img/review-logo/people-per-hour-wite-logo.png" class="img-fluid" alt="peopleperhour">
          </div>
          <div class="feature-content mt-2 mt-md-0">
            <h4 class="mb-0">
              DELIVERING PROJECTS
            </h4>
            <p class="text-md-left text-center mb-0">
              <span class="text-green">4.8/5</span> Rating On PeoplePerHour
            </p>
          </div>
        </div>
      </a>
      </div>

      <!-- .col -->
      <div class="col-xl-4 col-lg-6 col-md-6  border-right-0 border-sm-right border-bottom p-0">
        <a href="https://www.glassdoor.co.in/Reviews/ApEED-Technologies-Reviews-E991588.htm" target="_blank" class="d-block">
        <div class="feature-alt d-flex justify-content-center align-items-center text-center text-md-left">
          <div class="review-icon mb-0 w-100 d-block">
            <img src="{% static '' %}themes/new/img/review-logo/glassdoor.png" class="img-fluid" alt="Glassdoor">
          </div>
          <div class="feature-content m-0 mt-2 mt-md-0">
            <h4 class="mb-0">
             BEST WEB DEVELOPMENT
            </h4>
            <p class="text-md-left text-center mb-0">
               <span class="text-green">4.8/5</span> Rating On Glassdoor
            </p>
          </div>
        </div>
      </a>
      </div>
      <!-- .col -->
      <!-- .col -->
      <div class="col-xl-4 col-lg-6 col-md-6  border-right-0 border-sm-right p-0 border-bottom">
        <a href="https://www.upwork.com/o/companies/~01a4e6216e4f42d1ba/" target="_blank" class="d-block">
         <div class="feature-alt d-flex justify-content-center align-items-center text-center text-md-left">
          <div class="review-icon mb-0 w-100 d-block">
            <img src="{% static '' %}themes/new/img/review-logo/upwork.png" class="img-fluid" alt="Upwork">
          </div>
          <div class="feature-content m-0 mt-2 mt-md-0">
            <h4 class="mb-0">
              DELIVERING PROJECTS
            </h4>
            <p class="text-md-left text-center mb-0">
              <span class="text-green">5/5</span> Rating On Upwork
            </p>
          </div>
        </div>
      </a>
       
             </div>
      <!-- .col -->
      <!-- .col -->
      <div class="col-xl-4 col-lg-6 col-md-6 p-0">
        <a href="https://www.appfutura.com/developers/ApEEDtech" target="_blank" class="d-block">
         <div class="feature-alt d-flex justify-content-center align-items-center text-center text-md-left">
          <div class="review-icon mb-0 w-100 d-block">
            <img src="{% static '' %}themes/new/img/review-logo/appfutura.png" class="img-fluid" alt="Appfutura">
          </div>
          <div class="feature-content m-0 mt-2 mt-md-0">
            <h4 class="mb-0">
              TOP APP DEVELOPMENT
            </h4>
            <p class="text-md-left text-center mb-0">
              <span class="text-green">5/5</span> Rating On Appfutura
            </p>
          </div>
        </div>
      </a>
      </div>
      <!-- .col -->

      <!-- .row -->
    </div>
</div></section>
<!-- blog-text-section -->
<section class="py-90 bg-white">
   <div class="container-fluid main-container">
      <!-- row -->
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <!-- section-title -->
            <div class="section-title style2">
               <div class="title-header">
                  <h5 class="heading-xs dash">OUR LATEST BLOGS</h5>
                  <h2 class="text-uppercase text-titile">Throw Some Light At Our <span class="text-green">Articles</span> And ApEED's Success Tales.</h2>
               </div>
               <div class="title-desc">Get the latest updates and happenings in the IT sector and technological industries through our latest blogs, articles, and tech-updates. We cherish every moment! Have a look!!
               </div>
            </div>
            <!-- section-title end -->
         </div>
         
      </div>
      <!-- row end -->
      
      <div class="blog-container">
                  <div class="blog-item my-3 my-xl-0">
            <div class="blog-post">
              <a href="blog/208/will-artificial-intelligence-ever-rule-the-world/" class="d-block">
                     <img class="img-fluid" src="blog/image/208/post-1600781763-image_file-user_id_7.jpg" alt="Will Artificial Intelligence Ever Rule the World?">                 </a>
               <div class="blog-post-content">
                  <div class="post-title featured-title">
                     <h5> <a href="blog/208/will-artificial-intelligence-ever-rule-the-world/">Will Artificial Intelligence Ever Rule t...</a></h5>
                  </div>
                  <div class="post-meta">
                     <span class="ttm-meta-line"><i class="fa fa-calendar"></i> Sep 22, 2020</span>
                     <span class="ttm-meta-line"><i class="fa fa-comment"></i>Navdeep Kaur</span>
                  </div>
               </div>
            </div>
         </div>
                  <div class="blog-item my-3 my-xl-0">
            <div class="blog-post">
              <a href="blog/207/how-iot-will-change-the-business-world-here-are-5-reasons/" class="d-block">
                     <img class="img-fluid" src="blog/image/207/post-1600078376-image_file-user_id_7.jpg" alt="How IoT Will Change the Business World - Here Are 5 Reasons">                 </a>
               <div class="blog-post-content">
                  <div class="post-title featured-title">
                     <h5> <a href="blog/207/how-iot-will-change-the-business-world-here-are-5-reasons/">How IoT Will Change the Business World -...</a></h5>
                  </div>
                  <div class="post-meta">
                     <span class="ttm-meta-line"><i class="fa fa-calendar"></i> Sep 14, 2020</span>
                     <span class="ttm-meta-line"><i class="fa fa-comment"></i>Navdeep Kaur</span>
                  </div>
               </div>
            </div>
         </div>
                  <div class="blog-item my-3 my-xl-0">
            <div class="blog-post">
              <a href="blog/206/importance-of-graphic-designing-for-your-business/" class="d-block">
                     <img class="img-fluid" src="blog/image/206/post-1599561151-image_file-user_id_7.jpg" alt="IMPORTANCE OF GRAPHIC DESIGNING FOR YOUR BUSINESS">                 </a>
               <div class="blog-post-content">
                  <div class="post-title featured-title">
                     <h5> <a href="blog/206/importance-of-graphic-designing-for-your-business/">IMPORTANCE OF GRAPHIC DESIGNING FOR YOUR...</a></h5>
                  </div>
                  <div class="post-meta">
                     <span class="ttm-meta-line"><i class="fa fa-calendar"></i> Sep 08, 2020</span>
                     <span class="ttm-meta-line"><i class="fa fa-comment"></i>Navdeep Kaur</span>
                  </div>
               </div>
            </div>
         </div>
                  <div class="blog-item my-3 my-xl-0">
            <div class="blog-post">
              <a href="blog/205/what-is-robotic-process-automation-and-how-it-is-impacting-businesses/" class="d-block">
                     <img class="img-fluid" src="blog/image/205/post-1601366093-image_file-user_id_7.jpg" alt="WHAT IS ROBOTIC PROCESS AUTOMATION AND HOW IT IS IMPACTING BUSINESSES?">                 </a>
               <div class="blog-post-content">
                  <div class="post-title featured-title">
                     <h5> <a href="blog/205/what-is-robotic-process-automation-and-how-it-is-impacting-businesses/">WHAT IS ROBOTIC PROCESS AUTOMATION AND H...</a></h5>
                  </div>
                  <div class="post-meta">
                     <span class="ttm-meta-line"><i class="fa fa-calendar"></i> Sep 01, 2020</span>
                     <span class="ttm-meta-line"><i class="fa fa-comment"></i>Navdeep Kaur</span>
                  </div>
               </div>
            </div>
         </div>
                  </div>
      <div class="row">
         <div class="col-md-12 col-lg-12 text-center mt-5">
            <a class="btn btn-theme" href="blog/">View All</a>         </div>
      </div>
   </div>
</section>
<!-- blog-text-section -->
<!-- client section-->
<section class="about-services-section">
  <div class="container-fluid py-55 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h5 class="heading-xs dash text-white">OUR HAPPY CLIENTS</h5>
        <h2 class="text-titile text-uppercase text-white mb-0">
         We are <span class="text-green">result-oriented! </span>We Believe In Going The extra mile for our Clients
        </h2>
      </div>
    </div>
  </div>
  <div class="client-content">
    <div class="container-fluid">
      <ul class="clients-logo list-unstyled  w-100 justify-content-center d-flex flex-wrap">
        <li><img src="{% static 'themes/new/img/client-logo/yumcurst.png' %}" alt="client"></li>
        <li><img src="{% static 'themes/new/img/client-logo/linebustr.png' %}" alt="client"></li>
           <li><img src="{% static 'themes/new/img/client-logo/unitconverter.png' %}" alt="client"></li>
          <li><img src="{% static 'themes/new/img/client-logo/packetvideo.png' %}" alt="client"></li>
        <li><img src="{% static 'themes/new/img/client-logo/connectupz.png' %}" alt="client"></li>
        <li><img src="{% static 'themes/new/img/client-logo/lewis.png' %}" alt="client"></li>
          <li><img src="{% static 'themes/new/img/client-logo/samsung.png' %}" alt="client"></li>
        
          <li><img src="{% static 'themes/new/img/client-logo/hdfc.png' %}" alt="client"></li>
        <li><img src="{% static 'themes/new/img/client-logo/hcl.png' %}" alt="client"></li>
            <li><img src="{% static 'themes/new/img/client-logo/loyup.png' %}" alt="client"></li>
          <li><img src="{% static 'themes/new/img/client-logo/kayacha.png' %}" alt="client"></li>
          <li><img src="{% static 'themes/new/img/client-logo/punjabpolicelogo.png' %}" alt="client"></li>
        
           
        <li><a href="portfolio/" class="btn btn-green"> Explore Our Work</a></li>
      </ul>
    </div>
  </div>
</section>
<!--client section end-->
<div class="first-footer py-90">
      <div class="container-fluid main-container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="first-footer-inner">
              <div class="row footer-box">
                <div class="col-md-6 col-lg-3 mt-3 mt-lg-0">
                  <div class="featured-box text-center">
                    <div class="featured-content call-section">
                      <div class="featured-title">
                        <img src="{% static 'themes/new/img/location.png' %}" class="img-fluid" alt="ApEED">
                        <h5>Visit Here</h5>
                      </div>
                      <div class="featured-desc">
                        <p>C-127, 2nd Floor, Phase 8 Industrial Area, Mohali, Punjab
                          160071</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mt-3 mt-lg-0">
                  <div class="featured-box text-center">
                    <div class="featured-content call-section">
                      <div class="featured-title">
                        <img src="{% static 'themes/new/img/call.png' %}" class="img-fluid" alt="ApEED">
                        <h5>Call Us Now</h5>
                      </div>
                      <div class="featured-desc">
                        <a href="tel:+919569127788">
                          <span>India</span>&nbsp;<span>+91 956 912 7788</span> </a><br>
                                    <a href="tel:+18449127788"><span>US </span>&nbsp;<span>+1 844 912 7788</span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mt-3 mt-lg-0">
                  <div class="featured-box text-center">
                    <div class="featured-content call-section">
                      <div class="featured-title">
                        <img src="{% static 'themes/new/img/mail.png' %}" class="img-fluid" alt="ApEED">
                        <h5>Mail Here</h5>
                      </div>
                      <div class="featured-desc">
                        <p>
                        <a href="mailto:info@ApEED.in">info@ApEED.in</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mt-3 mt-lg-0">
                  <div class="featured-box text-center">
                    <div class="featured-content call-section">
                      <div class="featured-title">
                        <img src="{% static 'themes/new/img/skype.png' %}" class="img-fluid" alt="ApEED">
                        <h5>Skype ID</h5>
                      </div>
                      <div class="featured-desc">
                        <p>
                          <a href="#0">ApEED.tech</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- The Modal -->
<div class="modal" id="video-Modal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/Gtt0AjlBxlQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div>
   </div>
</div>      </main>
      <!------- body Section end------------->
      <!--- get in touch --->
            

<section class="call-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				
				<div class="leftheading">
					<h3 class="call-title">Ready to discuss your requirements?</h3>
				</div>
				<div class="contact-us pad-btm5">
					<a href="contact/request/quote/" class="btn btn-default"> Get in touch</a>
				</div>


			</div>

		</div>
	</div>
</section>

            <!------- footer Section start------------->



<!--      <div class="hire-fixed">-->
<!--      <a href="careers/"> <img alt="hiring" src="{% static 'themes/new/img/hiring1.png' %}">-->
<!--      </a>-->
<!--      </div>-->
<!--      <div class="partner-fixed">-->
<!--         <a href="partner-with-us/"> <img alt="Partner" src="{% static 'themes/new/img/partner.png' %}">-->
<!--         </a>-->
<!--      </div>-->
      <!------- back-to-top Start------------->
      <a id="totop" href="#top"> <i class="fa fa-angle-up"></i></a>
      <!------- back-to-top end------------->
      <script src="{% static 'themes/new/js/jquery.min.js' %}"></script>
      <script src="{% static 'themes/new/js/jquery.matchHeight-min.js' %}" type="text/javascript"></script>
      <script src="{% static 'themes/new/js/owl.carousel.js' %}" type="text/javascript"></script>
      <script src="{% static 'themes/new/js/main.js' %}" type="text/javascript"></script>
      <script src="https://www.googletagmanager.com/gtag/js?id=UA-32174510-1"></script>
<script src="{% static 'assets/d8cd7d9f/yii.activeForm.js' %}"></script>
<script>

window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-32174510-1');</script>
<script>jQuery(function ($) {
jQuery('#cookies-actions-form').yiiActiveForm([], {"errorSummary":".alert.alert-danger","errorCssClass":"is-invalid","successCssClass":"is-valid","validationStateOn":"input"});
});</script>   </body>

{% include 'includes/scripts.html' %}

   </html>