<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">PRODUCTS</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">My account</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Login</a>
                    <a class="dropdown-item" href="#">Register</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
        <div>
            <button class="btn btn-success">Cart</button>
        </div>
        <div class="dropdown">
            <!--Trigger-->
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2-1"
                data-toggle="dropdown">Material
                search</button>

            <!--Menu-->
            <div class="dropdown-menu dropdown-danger" id="custom-dropdown">
                <!-- Search form -->
                <div class="md-form">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <a class="dropdown-item mdb-dropdownLink-2" href="https://mdbootstrap.com/">MDB</a>
                <a class="dropdown-item mdb-dropdownLink-2" href="https://mdbootstrap.com/docs/react/">MDB react</a>
                <a class="dropdown-item mdb-dropdownLink-2" href="https://mdbootstrap.com/docs/angular/">MDB angular</a>
                <a class="dropdown-item mdb-dropdownLink-2" href="https://mdbootstrap.com/docs/vue/">MDB vue</a>
                <a class="dropdown-item mdb-dropdownLink-2" href="https://brandflow.net/">BrandFlow</a>
                <a class="dropdown-item mdb-dropdownLink-2" href="https://mdbootstrap.com/education/bootstrap/">MDB
                    Rocks</a>
            </div>
        </div>
        <!--/Dropdown danger-->
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<header class="navbar navbar-expand-lg navbar-dark orange">
</header>