{% load static %}

<header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'product' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
<!--                                                <li class="active" ><a href="{% url 'product' %}">Home</a></li>-->
                                                <li><a href="features.html">Products</a></li>
                                                <li><a href="features.html">Solutions</a></li>
                                                <li><a href="features.html">Pricing</a></li>
                                                <li><a href="features.html">Documentation</a></li>
                                                <li><a href="features.html">Learn</a></li>
                                                <li><a href="features.html">Apeed Marketplace</a></li>
                                                <li><a href="features.html">Events</a></li>
                                                <li><a href="features.html">Explore More</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="#">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog_details.html">Blog Details</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-65">
                                        <a href="{% url 'login' %}" class="border-btn">Log in</a>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->