<!DOCTYPE html>
{% load static %}

<html lang="en-US">
{% include 'includes/head.html'%}

<body>
{% include 'includes/navbar.html' %}


     <main>
          <script>
$(document).ready(function(){
      $("header").addClass("custom-header");
 });
</script>
</script>
<section class="w-100 portfolio-top py-3">
	<div class="conrainer-fluid main-container">
		<ul class="list-unstyled portfolio-ul">
			<li><a class="warning"
				href=" /portfolio/index">ALL</a></li>
			<li><a
				class="primary"
				href="/portfolio/android-apps">ANDROID</a></li>
			<li><a
				class="primary"
				href="/portfolio/iphone-apps">IPHONE</a></li>
			<li><a
				class="primary"
				href="/portfolio/web">WEB</a></li>
			<li><a
				class="primary"
				href="/portfolio/iot">IOT</a></li>
			<li><a
				class="primary"
				href="/portfolio/hybrid-apps">HYBRID</a></li>
		</ul>
	</div>
</section>

<div class="portfolio-div pb-90">
        <div id="w0" class="list-view">


<section class="vertical-scrolling position-relative"
	id="YumCrust">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  YumCrust</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Online&nbsp;Food Ordering App To Serve All!&quot;</p>

<p>Get your meal anytime and anywhere. YumCrust is an online food ordering app that allows users to browse and order their favorite and delicious meals from nearby restaurants.</p>

<p><strong>Platform</strong> - Android &amp; iOS<br />
<strong>App Link:&nbsp;</strong><a href="https://play.google.com/store/apps/details?id=yumcrust.app&amp;hl=en" target="_blank">https://play.google.com/store/apps/details?id=yumcrust.app&amp;hl=en</a></p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/932/yumcrust" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/932?file=Yumcrust.png" alt="YumCrust">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="Kaya Health">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/931?file=Kaya+Health.png" alt="Kaya Health">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Kaya Health</h3>
               <div itemprop="description" class="text-white description"><ul>
</ul>

<p>&quot;An Application To Get Online Medical Treatment&quot;</p>

<p>This is a robust mobile application that allows people to interact with doctors via chats, audio calls, video conferencing plus they can also book their appointment. It&#39;s a well-managed and safe to use application.</p>

<ul>
	<li>Users will pay the service used</li>
	<li>Safe and well-managed application</li>
	<li>Authenticated by Admin&#39;s end</li>
</ul>

<p><br />
Platform - iOS and Android</p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/931/kaya-health" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="RideGo">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  RideGo</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Application To Book The Car Rides&quot;</p>

<p>For all the car riders, this application is a blessing! Here, the application aggregates the users for online car rental and carpooling purposes. Also, users can book anytime from anywhere their desired car, book number of seats, etc.&nbsp;&nbsp;</p>

<ul>
	<li>Users can book their desire car</li>
	<li>Effective application&nbsp;</li>
	<li>Users can view fare and select car accordingly</li>
</ul>

<p>Platform - iOS and Android</p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/930/ridego" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/930?file=Ridego.png" alt="RideGo">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="Motion Grafic">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/929?file=Motion+Grafic.png" alt="Motion Grafic">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Motion Grafic</h3>
               <div itemprop="description" class="text-white description"><p>&quot;Thousands of templates, royalty-free music, videos, and much more to download.&quot;</p>

<p>It&#39;s a robust online platform to download thousands of templates, royalty-free music, videos, and much more. It gives customized solutions as per your business needs.</p>

<ul>
	<li>Effective platform</li>
	<li>Customized Templates</li>
	<li>Royalty-free Music &amp; Videos</li>
</ul>

<p><br />
Platform<strong> -&nbsp;&nbsp;</strong>Website</p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/929/motion-grafic" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="http://motiongrafic.com/" target="_blank"> <img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid">
							</a> <a href="http://motiongrafic.com/"
								class="d-inline-block btn-live text-white" target="_blank">Live
								Website</a>
						</div>

                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Frisco-County">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Frisco-County</h3>
               <div itemprop="description" class="text-white description"><p>&quot;A Mosquito Report Mobile App&quot;</p>

<p>It&#39;s a robust mobile application designed for users to access the requests for services and inspection to track the West Nile Virus, also they can submit the dead birds for testing the same.&nbsp;</p>

<ul>
	<li>Effective Results</li>
	<li>Accessible Enough</li>
</ul>

<ul>
</ul>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/928/frisco-county" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://friscoerpinc.com" target="_blank"><img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid"> </a> <a
								href="https://friscoerpinc.com"
								class="d-inline-block text-white btn-live" target="_blank">Live
								Website</a>

						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/928?file=Frisco-county.png" alt="Frisco-County">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="Ekirana">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/927?file=Ekirana.png" alt="Ekirana">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Ekirana</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Online Grocery Store Application&quot;</p>

<p>This mobile application effectively allows the users to view and order groceries as per their requirements using item categories and sub-categories.&nbsp;</p>

<ul>
	<li>Refund Policy&nbsp;available</li>
	<li>Cost-effective platform</li>
	<li>Easy and safe to use application</li>
</ul>

<p>Platform - iOS and Android<br />
App Link:&nbsp;<a href="https://play.google.com/store/apps/details?id=com.ekirana.user" target="_blank">https://play.google.com/store/apps/details?id=com.ekirana.user</a></p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/927/ekirana" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Kaycha Labs">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Kaycha Labs</h3>
               <div itemprop="description" class="text-white description"><p>&quot;World&#39;s Trusted Third-party Cannabis &amp; Hemp Testing Labs&quot;</p>

<p>Kaycha Labs, the leading and trusted hemp plus cannabis testing labs with trendsetting testing methods of quality control, assurance, and accuracy.&quot;</p>

<ul>
	<li>Over 500 Producers &amp; Methods</li>
	<li>Complete Automated Testing Process</li>
	<li>DEA registered and an approved USDA Hemp Laboratory</li>
</ul>

<p><br />
Platform<strong> -&nbsp;&nbsp;</strong>Website</p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/926/kaycha-labs" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://www.kaychalabs.com/" target="_blank"><img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid"> </a> <a
								href="https://www.kaychalabs.com/"
								class="d-inline-block text-white btn-live" target="_blank">Live
								Website</a>

						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/926?file=kaycha+Labs.png" alt="Kaycha Labs">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="Bundlebee">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/925?file=Bundlebee.png" alt="Bundlebee">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Bundlebee</h3>
               <div itemprop="description" class="text-white description"><p>&quot;Get The Complete Buying &amp; Selling Freedom&quot;<br />
This mobile application is just a perfect platform where traders can freely buy and sell the items locally and find bundles locally with complete flexibility.&nbsp;</p>

<ul>
	<li>Effective Platform</li>
	<li>Freedom to Buy and Sell</li>
	<li>Flexible services&nbsp;</li>
</ul>

<p>Platform<strong> -&nbsp;&nbsp;</strong>Admin panel, iOS<br />
App Link:&nbsp;<a href="https://apps.apple.com/us/app/bundlbee/id1489427227" target="_blank">https://apps.apple.com/us/app/bundlbee/id1489427227</a></p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/925/bundlebee" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="http://mybundlbee.com/" target="_blank"> <img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid">
							</a> <a href="http://mybundlbee.com/"
								class="d-inline-block btn-live text-white" target="_blank">Live
								Website</a>
						</div>

                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Elysian">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Elysian</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An In-home Mobile Salon Platform&quot;</p>

<p>It&#39;s a custom in-home mobile beauty salon tailored with multiple beauty treatments from professionals and stylists.&nbsp;</p>

<ul>
	<li>&nbsp;Multiple Beauty Treatments</li>
	<li>Solutions From Professionals, Aestheticians, &amp; Stylists</li>
	<li>On-demand In-Home Beauty Partner&nbsp; &nbsp;</li>
	<li>Convenient &amp; High-Quality Services</li>
</ul>

<p>Platform<strong> -&nbsp;&nbsp;</strong>Website, Android, iOS<br />
App Link:&nbsp;<a href="https://play.google.com/store/apps/details?id=com.elysian" target="_blank">https://play.google.com/store/apps/details?id=com.elysian</a></p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/924/elysian" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://elysian-beauty.com/" target="_blank"><img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid"> </a> <a
								href="https://elysian-beauty.com/"
								class="d-inline-block text-white btn-live" target="_blank">Live
								Website</a>

						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/924?file=Elysian.png" alt="Elysian">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="Bosana">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/923?file=Bosana.png" alt="Bosana">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Bosana</h3>
               <div itemprop="description" class="text-white description"><p>&quot;Robust Skincare Mobile Applications&quot;</p>

<p>It&#39;s an effective and all-in-one platform the trendsetting designed and developed skincare mobile applications for the marketplace. Users can safely without any doubt search and buy cosmetic products.&nbsp;</p>

<ul>
	<li>Good to maintain sales and records</li>
	<li>Salespersons can view their bonus and commission</li>
	<li>Effective skincare marketplace solution&nbsp;<br />
	&nbsp;</li>
</ul>

<p>Platform - iOS and Android</p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/923/bosana" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Klean Wave">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Klean Wave</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Expert Company With&nbsp;Cooling products and Sensors needs&quot;<br />
Being one of the best and expert companies to perform<em>&nbsp;</em>UVGI,&nbsp;IAQ, Cooling products and Sensors needs covering Project Design, Equipment Supply,&nbsp;maintenance, and&nbsp;repairs, it offers affordable services with specialized solutions</p>

<ul>
	<li>Robust Cleaning Systems&nbsp;</li>
	<li>Indoor Quality Ozone Generators</li>
	<li>Automation Alarm Systems&nbsp;</li>
	<li>Wide Range of Cooling Products and Sensors</li>
	<li>Affordable Plus High-standard quality services</li>
</ul>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/922/klean-wave" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="http://kleanwavesolutions.com/" target="_blank"><img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid"> </a> <a
								href="http://kleanwavesolutions.com/"
								class="d-inline-block text-white btn-live" target="_blank">Live
								Website</a>

						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/922?file=Klean+Wave.png" alt="Klean Wave">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="God Scoop">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/921?file=God+Scoop.png" alt="God Scoop">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  God Scoop</h3>
               <div itemprop="description" class="text-white description"><p>&quot;A Christian Social Media Conference Platform - Be Uplifted&quot;</p>

<p>It&#39;s a great social media conference platform that makes users meet, greet, uplift, inspire each other, and communicate via sharing posts, wishing on occasions, etc.&nbsp;</p>

<p>Platform - iOS, Android, Website</p>

<ul>
	<li>Collaborative platform&nbsp;</li>
	<li>Builds strong social networking among people</li>
	<li>An effective and safe platform&nbsp;</li>
</ul>

<ul>
</ul>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/921/god-scoop" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Kaycha Group">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Kaycha Group</h3>
               <div itemprop="description" class="text-white description"><p>&quot;World&#39;s Largest &amp; Most Trusted Cannabis Testing Labs Group&quot;</p>

<p>This third-party and most trusted group of cannabis testing labs is the best platform to get the best test results of cannabis and hemp.&nbsp;</p>

<ul>
	<li>Trendsetting Cannabis Testing Equipment</li>
	<li>Effective Cannabis Testing Services&nbsp;</li>
	<li>Gold Standard in Quality Control, Accuracy, and Reliability.&nbsp;</li>
</ul>

<p>&nbsp;</p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/920/kaycha-group" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://kaychagroup.com/" target="_blank"><img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid"> </a> <a
								href="https://kaychagroup.com/"
								class="d-inline-block text-white btn-live" target="_blank">Live
								Website</a>

						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/920?file=Kaycha+Group.png" alt="Kaycha Group">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="AN Malls">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/919?file=AN+Malls.png" alt="AN Malls">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  AN Malls</h3>
               <div itemprop="description" class="text-white description"><p>&quot;Biggest Online Shopping Mall Platform&quot;</p>

<p>AN Malls allows users to order their goods or items online from their desired shopping malls. Also, users can directly pay via cashless mode.&nbsp;</p>

<p>Platform - Website&nbsp;</p>

<p>&nbsp;</p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/919/an-malls" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://anmalls-admin.com/" target="_blank"> <img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid">
							</a> <a href="https://anmalls-admin.com/"
								class="d-inline-block btn-live text-white" target="_blank">Live
								Website</a>
						</div>

                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Line Bustr">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Line Bustr</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Online Table Booking Management Tool&quot;</p>

<p>The application is specially designed for the restaurant owners to improve their customer&#39;s walk-in experience. With the allowance of the online table booking system, Line Bustr improves the guest experience.&nbsp;</p>

<p><strong>Platform</strong>&nbsp;- Apple App Store</p>

<p><strong>iPhone App:&nbsp;</strong><a href="https://apps.apple.com/us/app/line-bustr/id1459636955" target="_blank">https://apps.apple.com/us/app/line-bustr/id1459636955</a></p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/918/line-bustr" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/918?file=line_buster.png" alt="Line Bustr">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="PickYourCoach">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/917?file=PickYourCoach.png" alt="PickYourCoach">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  PickYourCoach</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Online Sports Coaching Platform&quot;</p>

<p>It&#39;s a platform where an athlete can find a coach online according to its field of game and can request for the live-streaming videos for particular game sessions.&nbsp;&nbsp;</p>

<ul>
	<li>Effective Platform For Coaches And Sportsmen</li>
	<li>Subscription Plans &amp; Playouts Available</li>
	<li>Easy-to-use Application for all</li>
	<li>Professional coaches available<br />
	&nbsp;</li>
</ul>

<p>Platform - iOS and Android</p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/917/pickyourcoach" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://play.google.com/store/apps/details?id=coachbooking.app" target="_blank"> <img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid">
							</a> <a href="https://play.google.com/store/apps/details?id=coachbooking.app"
								class="d-inline-block btn-live text-white" target="_blank">Live
								Website</a>
						</div>

                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>






<section class="vertical-scrolling position-relative"
	id="Classtrack">
	<div id="right-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">

				<div class="col-lg-6 order-lg-1 order-2 position-inherit">
					<div class="lr-right-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Classtrack</h3>
               <div itemprop="description" class="text-white description"><p>&quot;An Automatic Educational Management System&quot;</p>

<p>Being one of the most effective educational management systems, ClassTrack is a powerful integrated tool that is perfect for running any type of educational institution.&nbsp;</p>

<p><strong>Platform</strong>&nbsp;- Website&nbsp;</p>
</div>


                     <div class="mt-3">
							<a href="https://toxsl.com/portfolio/916/classtrack" class="btn btn-read">Read More</a>
						</div>

                  <div class="bottom-fix">
							<a href="https://classtrack.com/" target="_blank"><img
								src="/themes/new/img/launch.png"
								alt="Launch Live website" class="img-fluid"> </a> <a
								href="https://classtrack.com/"
								class="d-inline-block text-white btn-live" target="_blank">Live
								Website</a>

						</div>
                                 </div>

				</div>
				<div class="col-lg-6 pl-0 order-lg-2 order-1">
					<div class="lr-right-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/916?file=Classtrack.png" alt="Classtrack">          </div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="vertical-scrolling position-relative"
	id="Ddrunner">
	<div id="left-section">
		<div class="container-fluid p-0">
			<div class="row align-items-center p-0">
				<div class="col-lg-6 pr-0">
					<div class="lr-left-img">
             <img class="img-fluid side-image" src="https://toxsl.com/portfolio/image/915?file=Dd-runner.jpg" alt="Ddrunner">          </div>
				</div>
				<div class="col-lg-6 position-inherit">
					<div class="lr-left-content p-5 p-lg-4">
						<h3 class="text-white my-3">  Ddrunner</h3>
               <div itemprop="description" class="text-white description"><p>&quot;A Dispatching App For Goods Transportation&quot;</p>

<p>It is a robust platform that enables the driver to run multiple tasks, asked by User in Delivery &amp; Dispatch goods &amp; many more.&nbsp;<br />
<strong>Motorcycle</strong>&nbsp;- Dispatch items below 10&nbsp;kg<br />
<strong>Car</strong>&nbsp;- Dispatch items below 20&nbsp;kg<br />
<strong>Van</strong>&nbsp;- Dispatch large item</p>

<p><strong>Platform -</strong> Play Store<br />
<strong>App Link:&nbsp;</strong><a href="https://play.google.com/store/apps/details?id=com.ddrunner.driver.app&amp;hl=en" target="_blank">https://play.google.com/store/apps/details?id=com.ddrunner.driver.app&amp;hl=en</a></p>
</div>

                      <div class="mt-3">
							<a href="https://toxsl.com/portfolio/915/ddrunner" class="btn btn-read">Read More</a>
						</div>
                                 </div>

				</div>
			</div>
		</div>
	</div>
</section>




<ul class="pagination"><li class="prev disabled"><span>&laquo;</span></li>
<li class="active"><a href="/portfolio/index?page=1&amp;per-page=18" data-page="0">1</a></li>
<li><a href="/portfolio/index?page=2&amp;per-page=18" data-page="1">2</a></li>
<li><a href="/portfolio/index?page=3&amp;per-page=18" data-page="2">3</a></li>
<li><a href="/portfolio/index?page=4&amp;per-page=18" data-page="3">4</a></li>
<li><a href="/portfolio/index?page=5&amp;per-page=18" data-page="4">5</a></li>
<li><a href="/portfolio/index?page=6&amp;per-page=18" data-page="5">6</a></li>
<li><a href="/portfolio/index?page=7&amp;per-page=18" data-page="6">7</a></li>
<li><a href="/portfolio/index?page=8&amp;per-page=18" data-page="7">8</a></li>
<li><a href="/portfolio/index?page=9&amp;per-page=18" data-page="8">9</a></li>
<li><a href="/portfolio/index?page=10&amp;per-page=18" data-page="9">10</a></li>
<li class="next"><a href="/portfolio/index?page=2&amp;per-page=18" data-page="1">&raquo;</a></li></ul></div>
</div>
      </main>


{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}

</body>

</html>